@model IEnumerable<ViewModels.RecommendedSearchModel>
@{
    ViewBag.Title = "Recommendedtrips";
    Layout = "~/Areas/webadmin/Views/Shared/_Layout.cshtml";
}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="@Url.Action("Index","Recommendedtrips")">Recommend trip</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>推薦行程設定</li>

        </ul>


    </div>


<div id="Partial_Index_MenuLink">
    <div class="portlet light bordered">
        <div class="title_04">推薦行程文章設定</div>

        <!--set item start-->
        <div class="table-toolbar">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="display_inline">
                    <p class="class_title">管理項目</p>
                    <select class="form-control_1" onchange="window.location.href=this.value">
                        <option value="#" selected>推薦行程</option>
                        <option value="@Url.Action("UnitPrint","Recommendedtrips")">單元設定</option>
                    </select>
                </div>
            </div>
        </div>
        <hr />
        <div style="width:60%">
            <div class="form-group">
                <p class="class_title" style="width:70px">
                    <span>旅遊天數 </span>
                </p>
                <div class="col-md-9 col-sm-12 col-xs-12 bg-white mobile_white">
                    @Html.DropDownList("Day_Id", (IEnumerable<SelectListItem>)ViewBag.RecommendedTrips_Day_ID, "請選擇", htmlAttributes: new { @class = "form-control", rows = "8", cols = "100", @style = "width:300px" })
                </div>
            </div>
            <div class="form-group">
                <p class="class_title" style="width:70px">
                    <span>目的地 </span>
                </p>

                <div class="col-md-9 col-sm-12 col-xs-12 bg-white mobile_white ">
                    @Html.DropDownList("Dstination_typ", (IEnumerable<SelectListItem>)ViewBag.RecommendedTrips_Destinations_ID, "請選擇", htmlAttributes: new { @class = "form-control", rows = "8", cols = "100", @style = "width:300px" })
                </div>
            </div>
            <div class="form-group">
                <p class="class_title" style="width:70px">
                    <span>旅遊類別</span>
                </p>

                <div class="col-md-9 col-sm-12 col-xs-12 bg-white mobile_white display-inline">
                    @Html.DropDownList("F_HashTag", (IEnumerable<SelectListItem>)ViewBag.F_HashTag_Type, "請選擇", htmlAttributes: new { @class = "form-control", rows = "8", cols = "100", @style = "width:300px" })

                </div>

            </div>
        </div>
        <div style="width:30%">
            <a class="btn blue search_icon" id="btn_search">搜尋<i class="fa fa-search"></i></a>
        </div>
        
        <hr />



        <div class="table-scrollable">
            <span style="float:right">
                <a href="@Url.Action("Recommendedtrips_Edit")" class="btn green-meadow">新增<i class="fa fa-plus"></i></a>
            </span>
            <table class="table table-bordered table-hover" border="0" cellspacing="0" cellpadding="0"
                   id="table"
                   data-url="#"
                   data-sort-name='Sort'
                   data-page-size='10'
                   data-filed-id='RecommendedTrips_ID'
                   data-max-pagination='10'>

                <thead>

                    <tr>
                        <th class="col-md-1 col-sm-12 col-xs-12 text-center">

                            <input type='checkbox' class='checkboxes inline' id="chk_all" />

                            <button type="button" class="btn red-mint btn-xs" id='btn_del'><i class="glyphicon glyphicon-trash"></i></button>
                        </th>
                        <th class="text-center">排序</th>
                        <th class="text-center">標題</th>
                        <th class="text-center">類別</th>
                        <th class="text-center">是否顯示區間</th>
                        <th class="text-center">上架</th>
                        <th class="text-center">輪播管理</th>
                        <th class="text-center">顯示</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        bool istrue = false;
                        if (item.starDate == null && item.EndDate == null)
                        {
                            istrue = true;
                        }
                        else if ((item.starDate != null && item.EndDate == null) && item.starDate.Value.Date <= DateTime.Now.Date)
                        {
                            istrue = true;

                        }
                        else if ((item.starDate == null && item.EndDate != null) && item.EndDate.Value.Date >= DateTime.Now.Date)
                        {
                            istrue = true;
                        }
                        else if ((item.starDate != null && item.EndDate != null) && item.starDate.Value.Date <= DateTime.Now.Date && item.EndDate.Value.Date >= DateTime.Now.Date)
                        {
                            istrue = true;
                        }
                        <tr class="text-center">
                            <td><input type="checkbox" class="checkboxes chksel" value="@item.RecommendedTrips_ID" /></td>
                            <td>
                                <button name="totop" type="button" class="btn btn-default btn-xs seqindex" value="-1" idindex="1329"><i class="fa fa-angle-double-up"></i></button>
                                <button name="Up" type="button" class="btn btn-default btn-xs seqindex" value="@(item.sort-1)" idindex="1329"><i class="fa fa-angle-up"></i></button>
                                <button name="Down" type="button" class="btn btn-default btn-xs seqindex" value="@(item.sort+1)" idindex="1329"><i class="fa fa-angle-down"></i></button>
                                <button name="tobottom" type="button" class="btn btn-default btn-xs seqindex" value="-2" idindex="1329"><i class="fa fa-angle-double-down"></i></button>
                                <input type="hidden" value="@item.sort" data-pid="@item.RecommendedTrips_ID">
                                <input class="editinput btn btn-default btn-xs sequence_list sortedit" value="@item.sort" />
                            </td>
                            <td> <a href="@Url.Action("Recommendedtrips_Edit",new {itemid=@item.RecommendedTrips_ID})">@item.RecommendedTrips_Title</a></td>
                            <td>@item.RecommendedTrips_Day_Name</td>
                            @if (istrue)
                            {
                                <td style="font:600;color:green">是</td>
                            }
                            else
                            {
                                <td style="font:600;color:red">否</td>
                            }
                            @*<td>
                                <a href="@Url.Action("RecommendedTrip_Travel_Item",new {RecommendedTripID=@item.RecommendedTrips_ID})" class="btn green-meadow">管理<i class="fa fa-plus"></i></a>
                            </td>*@
                            <td>

                                @if (item.Enabled == true)
                                {
                                    <input class="chkstatus" type="checkbox" indexid ="@item.RecommendedTrips_ID" checked />
                                }
                                else
                                {
                                    <input class="chkstatus" indexid ="@item.RecommendedTrips_ID" type="checkbox" />
                                }

                            </td>

                            <td>
                                <a class="btn grey-mint" href="@Url.Action("Index", "AD", new { type = @item.RecommendedTrips_ID.ToString() , stype = "P", site_id = 17,MenuType=-1})">管理</a>
                                @*<a class="btn green-meadow" href="@Url.Action("Index", "AD", new { type = @item.RecommendedTrips_ID.ToString() , stype = "M", site_id = 17,MenuType=-1})">手機輪播管理<i class="fa fa-plus"></i></a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>





    </div>
</div>




@section scripts {
    <script src="@Url.Content("~/Scripts/datatable.js")"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <link href="~/css/jquery.dataTables.css" rel="stylesheet" />
    <script>
      $(function () {
            //選取全部
            RegisterClickAll("#chk_all", '#table tbody .chksel', "#selvalue");
          //選取刪除
          $(".chkstatus").change(function () {
              var Itemid = this.getAttribute("indexid");
              var checkstutas = $(this).is(':checked')
              console.log(checkstutas);
              $.post("@Url.Action("SetItemStatus")", { id: Itemid, status: checkstutas });
              

          });
          $("#btn_del").click(function () {

                if (confirm('確定要刪除嗎??'))
                {
                    var Descheck = $("#table tbody .chksel:checked");
                    var Itemid = [];
                    Descheck.each(function () {
                        var Desid = $(this).val();
                        Itemid.push(Desid);
                    })
                    @*window.location.href = "@Url.Action("delete","Destination_Index")" + "?chargeID=" + formdata;*@
                    //alert(Itemid)
                    $.post("@Url.Action("DeleteItem", "Recommendedtrips")", { Itemid: Itemid, Type:"Trip" })
                        .success(function (data) {
                            alert(data);
                          window.location.href ="@Url.Action("Recommendedtrips_item", "Recommendedtrips")"
                        })

                }
            })
                        $('.checkis').change(function () {
                            var check = $(this).prop('checked');
                            var checkint = 2;
                            var id=$(this).attr('id')
                            if (check) {
                                checkint = 1;
                            }
                             $.post("@Url.Action("IsShow", "Recommendedtrips")", { id:id, isfort:checkint })
                        .success(function (data) {
                            alert(data);
                        })
                        })
            //$("#table").DataTable();
            $("#table").DataTable({
                searching: false, //關閉filter功能
                columnDefs: [{
                    orderable: false,
                }],
                columnDefs: [
                ],
                "aaSorting": [],
                "lengthMenu": [[10, 20, 30, 50, -1], [10, 20, 30, 50, "全部"]],
                "oLanguage": {
                    "sZeroRecords": "查無此商品",
                    "sInfoEmpty": "查無此商品",
                    "sEmptyTable": "查無此商品",
                    "sLengthMenu": "每頁顯示 _MENU_ 筆資料",
                    "sSearch": "查詢 : ",
                    "oPaginate": {
                        "sFirst": "First page",
                        "sLast": "Last page",
                        "sNext": "下一頁",
                        "sPrevious": "上一頁"
                    },
                    "sInfo": "總共 _TOTAL_ 筆，顯示第 [ _START_ ] 筆到第 [ _END_ ] 筆資料",
                    "sInfoFiltered": "篩選之後得到 _TOTAL_ 筆，初始 _MAX_ 筆",
                    "sLoadingRecords": "載入中...",
                    //"sInfoPostFix": "  (資料純屬虛構，如有雷同純屬巧合。)",
                },
                "scrollCollapse": true,
                "jQueryUI": true
            });


            $("#myDataTalbe_paginate").attr("style", "margin-bottom:30px")

            $("#btn_search").click(function () {
                var Dstination_typ = $("#Dstination_typ").val();
                var Day_Id = $("#Day_Id").val();
                var F_HashTag = $("#F_HashTag").val();
                window.location.href = (`@Url.Action("Recommendedtrips_item", "Recommendedtrips")/?Dstination_typ=${Dstination_typ}&Day_Id=${Day_Id}&F_HashTag=${F_HashTag}`);
            })
            //$(".a1").click(function () {
            //    alert(12)
            //})
            $("#table tbody").on("click", ".seqindex", function () {
                //alert($(this).parents("td").children("input[type='hidden']").attr('data-pid') + "" + $(this).val());
                var seq = $(this).val();
                var itemid = $(this).parents("td").children("input[type='hidden']").attr('data-pid');
                $.post("@Url.Action("UpdateSeq")", { itemid: itemid, seq: seq, Type:"btn"},
                    function (data) {
                    alert(data);
            window.location.href ="@Url.Action("Recommendedtrips_item", "Recommendedtrips")"
                }, "json");
            })
            $("#table tbody").on("change", ".sortedit", function () {
                //alert($(this).parents("td").children("input[type='hidden']").attr('data-pid') + "" + $(this).val());
                var seq = $(this).val();
                var itemid = $(this).parents("td").children("input[type='hidden']").attr('data-pid');
                $.post("@Url.Action("UpdateSeq")", { itemid: itemid, seq: seq, Type:"inp"},
                    function (data) {
                        alert(data);
                       window.location.href ="@Url.Action("Recommendedtrips_item", "Recommendedtrips")"

                }, "json");
            })
        });
    </script>
}
