@model WebSiteProject.Models.RecommendedTrips_Index
<script src="@Url.Content("~/Scripts/components-date-time-pickers.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap-datepicker.min.js")"></script>
<script src="@Url.Content("~/Scripts/custom.js")"></script>
<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>
<script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>
<script src="@Url.Content("~/Scripts/_html.js")"></script>
@{
    ViewBag.Title = "RecommendedtripsIndex";
    Layout = "~/Areas/webadmin/Views/Shared/_Layout.cshtml";
}
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Recommendedtrips")">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>推薦行程主版設定(標題&文字)<i class="fa fa-circle"></i></li>
            </ul>

        </div>
        <div id="Partial_Index_MenuLink">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <p class="class_title">管理項目</p>
                <div class="display_inline">
                    <div class="display_inline">
                        <select id="Index_Partial_Select" class="form-control checkitem" onchange="window.location.href=this.value">
                            <option data-index="1" value="#" selected>推薦行程主版設定(標題&文字)</option>
                            <option data-index="2" value="@Url.Action("Index", "AD", new { type = "main" , stype = "P", site_id = 15, MenuType=176})">輪播牆設定(電腦版)</option>
                            <option data-index="3" value="@Url.Action("Recommendedtrips_item", "Recommendedtrips")">推薦行程設定</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet light bordered">
            <div class="title_04">推薦行程主版設定(標題&文字)</div>

            <div class="form-horizontal form-bordered">

                <form id="editform" enctype="multipart/form-data">
                    <div class="portlet light form-fit bordered">
                        <div class="portlet-body form">
                            <div class="form-horizontal form-bordered">
                                <div class="form-body">
                                    <input name="RecommendedTrips_Index_ID" type="hidden" value="@Model.RecommendedTrips_Index_ID" />
                                    @*<div class="form-group">
                                            <div class="col-md-3 col-sm-12 col-xs-12 search_item text-center">
                                                <span>標題名稱</span>
                                            </div>
                                            <div class="col-md-9 col-sm-12 col-xs-12 bg-white mobile_white ">
                                                <textarea id="_Thingtodo_Index_Title" name="_Thingtodo_Index_Title" class="form-control" style="height:50px;resize:none">@Model.RecommendedTrips_Index_Title</textarea>

                                            </div>
                                        </div>*@
                                    <div class="form-group">
                                        <div class="col-md-3 col-sm-12 col-xs-12 search_item text-center">
                                            <span>內容</span>
                                        </div>
                                        <div class="col-md-9 col-sm-12 col-xs-12 bg-white mobile_white ">
                                            <textarea cols="80" id="RecommendedTrips_Index_Content" class="form-control f_textarea" style="height:250px;resize:none">@HttpUtility.HtmlDecode(Model.RecommendedTrips_Index_Content)</textarea>
                                            @*<span>
                                                    <a id="addbr" class="btn btn-primary">加入換行符號</a>
                                                </span>
                                                <span class="addbr"> ( 換行符號為 &lt;/br&gt; ) </span>*@
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="form-group">
                    <div class="col-md-5 col-sm-12 col-xs-12 bg-white mobile_white text-center">

                    </div>
                    <div class="col-md-1 col-sm-12 col-xs-12 bg-white mobile_white text-center">
                        <button class="form-control btn blue text-center" id="btn-sub">確認送出</button>
                    </div>
                </div>

            </div>

        </div>


        @section scripts{
            <script>
        $(function () {

            var ckedit = CKEDITOR.replace('RecommendedTrips_Index_Content', {
                height: 300,
               filebrowserImageUploadUrl: '@Url.Action("Upload")?command=QuickUpload&type=Images',
               filebrowserUploadUrl: '@Url.Action("UploadFile")?command=QuickUpload&type=Files',
            });
            CKEDITOR.config.enterMode = CKEDITOR.ENTER_BR;
            //CKEDITOR.config.shiftEnterMode = CKEDITOR.ENTER_P;
            CKEDITOR.on('instanceReady', function (ev) {
                ev.editor.dataProcessor.writer.setRules('p',
                    {
                        indent: false,
                        breakBeforeOpen: false,
                        breakAfterOpen: false,
                        breakBeforeClose: false,
                        breakAfterClose: false
                    });
            });
            CKEDITOR.on('instanceReady', function (ev) {
                ev.editor.dataProcessor.writer.setRules('div',
                    {
                        indent: true,
                        breakBeforeOpen: true,
                        breakAfterOpen: true,
                        breakBeforeClose: false,
                        breakAfterClose: false
                    });
            });
            $("#btn-sub").click(function () {
                 var formData = new FormData();
                var array = $('#editform').serializeArray();
                $.each(array, function () {
                    formData.append(this.name, this.value);
                });
                var ckedval = CKEDITOR.instances.RecommendedTrips_Index_Content.getData();

                formData.append("RecommendedTrips_Index_Content", _html.encode(ckedval));
                $.ajax({
                    url:"@Url.Action("RecommendedtripsIndex_Edit","Recommendedtrips")",
                    data: formData,
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        alert(data);
                    }, error: function () {
                        // handle error
                    }
                });
            })
        });
            </script>
        }


