<script src="@Url.Content("~/Scripts/datatable.js")"></script>
<script src="@Url.Content("~/Scripts/custom.js")"></script>
<div class="main_content">
    @{  var cname = (Dictionary<string, string>)ViewBag.ColumnNameMapping;}
    <div class="container">
        <div class="main_content_box">

            <!--one content start-->
            <div class="one_content">

                <!--page top start-->
                <!--page top end-->
                <!--main content start-->
                <div class="one_con">
                    <h2 class="page_title">@cname["搜尋結果"]</h2>
                    <ul class="search_list" id="ul_search"></ul>

                    <!--頁碼 start-->
                    <div class="table-toolbar @(ViewBag.SelLimit==-1?"hide":"")" id="page_number">
                        <div class="col-md-4 col-sm-12 col-xs-12 page_total" id="tableinfo"></div>
                        <div class="col-md-8 col-sm-12 col-xs-12 page_icon">
                            <div class="btn-group" id="pagination">
                            </div>
                        </div>
                    </div>
                    <!--頁碼 end-->

                </div>
                <!--main content end-->

            </div>
            <!--one content end-->

        </div>
    </div>
</div>
@section scripts {
    <script>
        var langid = '@ViewBag.langid';
        var searchbase = {};
        var pageidx = 1;
        var pagesize = 10;
        var maxpagination = 10;
        $(document).ready(function () {
            $("#txt_search").val('@ViewBag.Key');
             searchbase.Search = '';
             searchbase.Sort = 'Sort';
             searchbase.Order = 'UpdateDatetime';
            searchbase.Limit ='@ViewBag.SelLimit';
            searchbase.NowPage = pageidx;
            searchbase.ID = '';
            searchbase.ModelID = '@ViewBag.mainid';
            searchbase.LangId= '@ViewBag.langid';
            searchbase.Key = '@ViewBag.Key';
            searchbase.Key2 = '@ViewBag.Key2';
            searchbase.Key3 = '@ViewBag.Key3';
            searchbase.Sel1 = '@ViewBag.Sel1';
            searchbase.Sel2 = '@ViewBag.Sel2';
            searchbase.SearchType = '@ViewBag.SearchType';

            searchbase.MenuType = '@ViewBag.MenuType';
            searchbase.Menu1 = '@ViewBag.Menu1';
            searchbase.Menu2 = '@ViewBag.Menu2';
            searchbase.Menu3 = '@ViewBag.Menu3';

            pagesize = searchbase.Limit;
            searchbase.Offset = ((pageidx - 1) * pagesize);
           $("#pagination").delegate((".btn_page"), "click", function () {
                searchbase.NowPage = parseInt($(this).attr('pageindex'));
                pageidx = searchbase.NowPage;
                searchbase.Offset = ((pageidx - 1) * pagesize);
                $.post('@Url.Action("PaddingSearch")', searchbase, function (data) {
                    SetData(data);
                });
            });
            $.post('@Url.Action("PaddingSearch")', searchbase, function (data) {
                SetData(data);
                searchbase.TotalCnt = data.total;
                searchbase.Info = data.Info;
            });
        });
        function SetData(data) {
            $("#ul_search").empty();
            //var strarr = [];
            for (var idx = 0; idx < data.rows.length; idx++) {
                $('<li><a href="' + data.rows[idx]["Url"] + '">' + data.rows[idx]["Text"] + '</a></li>').appendTo("#ul_search");
            }
            //$(strarr.join('')).appendTo("#ul_search");
            var pagecnt = Math.ceil(data.total / pagesize);
            var changepagination = Math.ceil(maxpagination / 2) - 1;
            var firstidx = pageidx - changepagination;
            if (pageidx + parseInt(changepagination) >= pagecnt) {
                firstidx = pagecnt - maxpagination + 1;
            }
            if (firstidx <= 0) { firstidx = 1; }
            var endidx = firstidx + parseInt(maxpagination) - 1;
            if (endidx > pagecnt) { endidx = pagecnt; }
            var beforeidx = pageidx - 1;
            if (beforeidx <= 0) { beforeidx = 1; }
            var nextidx = pageidx + 1;
            if (nextidx > pagecnt) { nextidx = pagecnt; }
            var parr = pagination(pageidx, firstidx, endidx, beforeidx, nextidx, pagecnt);
            $("#pagination").empty();
            $(parr.join('')).appendTo("#pagination");

            $("#tableinfo").html('@Common.GetLangText("總筆數"):' + data.total + '，@Common.GetLangText("顯示"):' + (data.total <= 0 ? 0 : (searchbase.Offset + 1)) + "~" + ((searchbase.Offset + 1) + data.rows.length - 1));
            if (data.total == 0) { $("#pagination").hide(); } else { $("#pagination").show(); }

        }
        function pagination(pageidx, firstidx, endidx, beforeidx, nextidx, pagecnt) {
            var strpagination = [];
            strpagination.push("<button type='button' class='btn_page' title='@Common.GetLangText("第一頁")' pageindex='1'><i class='fa fa-angle-double-left'></i></button>");
            strpagination.push("<button type='button' class='btn_page' title='@Common.GetLangText("上一頁")' pageindex='" + beforeidx + "'><i class='fa fa-angle-left'></i></button>");
            for (var pidx = firstidx; pidx <= endidx; pidx++) {
                if (pidx == pageidx) {
                    strpagination.push(" <button type='button'  pageindex='" + pidx + "' class='btn_page active'>" + pidx + "</button>");
                } else {
                    strpagination.push(" <button type='button'  pageindex='" + pidx + "' class='btn_page'>" + pidx + "</button>");
                }
            }
            strpagination.push("<button type='button' class='btn_page' title='@Common.GetLangText("下一頁")' pageindex='" + nextidx + "'><i class='fa fa-angle-right'></i></button>");
            strpagination.push("<button type='button' class='btn_page' title='@Common.GetLangText("最末頁")' pageindex='" + pagecnt + "'><i class='fa fa-angle-double-right'></i></button>");
            return strpagination;
        };
    </script>
}
