@model WebSiteProject.Models.F_Destination_Type

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>F_Destination_Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Destination_Type_Title1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination_Type_Title1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination_Type_Title2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination_Type_Title2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination_Type_CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination_Type_CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination_Type_ImgName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination_Type_ImgName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination_Type_Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination_Type_Link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destination_Type_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destination_Type_Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
