@model WebSiteProject.Models.Destination_Fare

<div class="form-group">
    <div class="display_inline margin_bottom">
        <button type="button" class="btn blue" onclick="window.open ('mod_teacher_personnel_02.html','','menubar=1,resizable=1,width=1000,height=800')">選擇</button>
        <!--<button class="btn green-meadow" id="btn_add">新增 <i class="fa fa-plus"></i></button>-->
        <button class="btn red" id="btn_del">刪除 <i class="glyphicon glyphicon-trash"></i></button>
    </div>
    @{ 
        Html.HiddenFor(model => model.ChargeID);

        Html.HiddenFor(model => model.Destination_Type_ID );
    }
    <!--table start-->
    <table class="table table-bordered nomarginbottom" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr>
                <th width="60" class="text-center" filed-type="delcheckbox">刪除</th>
                <th class="text-center">@Html.Label("票種")</th>
                <th class="text-center">@Html.Label("票價")</th>
                <th class="text-center">@Html.Label("詳細內容")</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center">
                    <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                        <input type="checkbox" class="checkboxes chksel">
                        <span></span>
                    </label>
                </td>
                <td class="text-center">@Html.EditorFor(m => m.TicketType)</td>
                <td class="text-center">@Html.EditorFor(m => m.Fare)</td>
                <td class="text-center">@Html.EditorFor(m => m.Description)</td>
            </tr>
        </tbody>
    </table>
</div>