@model IEnumerable<WebSiteProject.Models.Destination_Fare> 

<div class="form-group">
    <div class="display_inline margin_bottom">
        @{
            var DESTypeID = ViewBag.TypeID;
            var DESName = ViewBag.TypeName;
         }
        <a class="btn green-meadow" id='btn_add' href="@Url.Action("Createtr","Destination_Index",new {TypeID = DESTypeID,TypeName = DESName})">新增 <i class="fa fa-plus"></i></a>
        <button class="btn red" id="btn_del" type="button">刪除 <i class="glyphicon glyphicon-trash"></i></button>
    </div>
    
    <!--table start-->
    <table class="table table-bordered nomarginbottom" id="faretable" border="0" cellspacing="0" cellpadding="0">
        <thead>
            <tr >
                <th width="60" class="text-center" filed-type="delcheckbox">刪除</th>
                <th class="text-center">@Html.Label("票種")</th>
                <th class="text-center">@Html.Label("票價")</th>
                <th class="text-center">@Html.Label("詳細內容")</th>
            </tr>
        </thead>
        <tbody>
            @{   
                foreach (var item in Model)
                {
                    <tr class="tritem">
                        <td class="text-center">
                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                <input type="checkbox" class="checkboxes chksel">
                                <span></span>
                            </label>
                        </td>
                        @Html.HiddenFor(model => item.ChargeID)
                        @Html.HiddenFor(model => item.Destination_Type_ID)
                        <td>@Html.EditorFor(model => item.TicketType, new { htmlAttributes = new { @class = "form-control input-small inline-block" } })</td>
                        <td>@Html.EditorFor(model => item.Fare, new { htmlAttributes = new { @class = "form-control input-small inline-block" } })</td>
                        <td>@Html.EditorFor(model => item.Description, new { htmlAttributes = new { @class = "form-control input-small inline-block" } })</td>
                    </tr>
                }
                
              }
                            
        </tbody>
    </table>
</div>
<script>
    
</script>