@*destination 觀光區編輯*@

@model IEnumerable<WebSiteProject.Models.F_Destination_Type>

@{
    if (TempData["Msg"] != null)
    {
        <script>
            $(function () {
                var Msg = @Html.Raw(Json.Encode(TempData["Msg"]));
                alert(Msg);
            });
        </script>
    }
}

<style>
    hr {
        margin: 0px;
        border-top: 0px solid #eee;
    }

    .Five_Thingtodo_Header {
        background-color: lightgray;
        font-weight: bolder;
    }
</style>


@{
    if (ViewBag.MenuType == 179 || (int)Session["F_MenuType"] == 179)
    {
        <div class="title_01">Things to do</div>
        <div id="Partial_Index_Destination">
            <!--.......-->
        </div>
    }
    else if (ViewBag.MenuType == 0 || (int)Session["F_MenuType"] == 0)
    {
        <div class="title_01">Home</div>
        <div id="Partial_Index">

        </div>
    }
}



<div class="portlet light bordered">
    <div class="title_04">@(ViewBag.FreeZoneTitleID == 1 ? "自由編輯區一" : "觀光景點設定")</div>

    <div class="form-horizontal form-bordered" id="editform" enctype="multipart/form-data">

        <div class="portlet light form-fit bordered">
            <div class="portlet-body form">
                <div class="form-horizontal form-bordered">
                    <div class="form-body" id="form-body">
                        <form method="post" action="#" class="Five_Thingtodo_Header">
                            <div class="form-group ">
                                <div class="col-md-1 col-sm-12 col-xs-12 text-center">
                                    <span class="display_inline">序號</span>
                                </div>
                                <div class="col-md-2 col-sm-12 col-xs-12 text-center ">
                                    <span class="display_inline">標題(上)</span>
                                </div>
                                <div class="col-md-2 col-sm-12 col-xs-12  text-center">
                                    <span class="display_inline">標題(下)</span>
                                </div>
                                <div class="col-md-1 col-sm-12 col-xs-12   text-center">
                                    <span class="display_inline">圖片</span>
                                </div>
                                <div class="col-md-5 col-sm-12 col-xs-12   text-center">
                                    <span class="display_inline">說明</span>
                                </div>
                                <div class="col-md-1 col-sm-12 col-xs-12   text-center">
                                    <span class="display_inline">編輯</span>
                                </div>
                            </div>
                            <hr class="Five_Thingtodo_div" />
                        </form>
                        @{
                            var x = 0;
                            foreach (var item in Model)
                            {
                                <form method="post" action="@Url.Action("Five_Thingstodo_Edit","F_Thingtodo")" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <input type="hidden" name="_Thingtodo_Type_ID" value="@item.Destination_Type_ID" />
                                        <div class="col-md-1 col-sm-12 col-xs-12 text-center">
                                            <span class="display_inline">@(++x)</span>
                                        </div>
                                        <div class="col-md-2 col-sm-12 col-xs-12 text-center ">
                                            <span class="display_inline">
                                                <input type="text" name="_Thingtodo_Type_Title1" value="@item.Destination_Type_Title1" class="form-control" />
                                            </span>
                                        </div>
                                        <div class="col-md-2 col-sm-12 col-xs-12 bg-white mobile_white forest_link text-center">
                                            <div class="col-md-11 col-sm-12 col-xs-12 bg-white mobile_white forest_link">
                                                <input type="text" name="_Thingtodo_Type_Title2" value="@item.Destination_Type_Title2" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="col-md-1 col-sm-12 col-xs-12 bg-white mobile_white forest_link text-center align-center">
                                            <img id="Index_Img_File@(x)" src="@Url.Content("~/UploadImage/ThingsToDo_Img/")@item.Destination_Type_ImgName" />
                                            <br />
                                            <input data-imgid="Index_Img_File@(x)" name="Index_Img_File" type="file" class="form-control" accept=".jpeg,.jpg,.gif,.png" />
                                        </div>

                                        <div class="col-md-5 col-sm-12 col-xs-12 bg-white mobile_white">
                                            <textarea name="_Thingtodo_Type_Description" class="form-control">@item.Destination_Type_Description</textarea>
                                        </div>
                                                                               
                                        <div class="col-md-1 col-sm-12 col-xs-12 bg-white mobile_white ">
                                            <button class="form-control btn-warning text-center">編輯</button>
                                        </div>
                                       
                                    </div>
                                    <hr class="Five_Thingtodo_div" />
                                </form>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>


        @*<div class="text-center search_padding">
                <button type="submit" class="btn blue" id="btn_submit">確認送出</button>
            </div>*@
    </div>

</div>




@section scripts{
    <script>
        $(function () {


            //圖片上傳修改
            ShowImg();

        });



        //圖片上傳修改
        function ShowImg() {
            $("[name='Index_Img_File']").change(function () {

                var imgid = $(this).attr("data-imgid");
                //alert("Image changed");
                var reader = new FileReader();
                reader.readAsDataURL(this.files[0]);
                reader.onload = function (e) {
                    $(`#${imgid}`).attr("src", e.target.result)
                };
            })
        }

    </script>
}
