@model  ViewModels.MasterPageModel
@{
    Layout = null;
    ViewBag.SEOScript = WebSiteProject.Code.CacheMapping.SEOScript;
}
<!DOCTYPE html>
<html lang="@(Model.LangId=="1"?"en":"Zh-hant")" xml:lang="@(Model.LangId=="1"?"en":"Zh-hant")">
<!--英文版<html lang="en" xml:lang="en">-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="@Url.Content("~/img/favicon.ico")" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/theme.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/theme-elements.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/settings.css")" media="screen">
    <!--fontawesome start-->
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/fontawesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/brands.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/solid.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/regular.min.css")">
    <!--fontawesome end-->
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/style.css")">
    <script src="@Url.Content("~/js/jquery.js")"></script>
    @*<script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>*@
    @*<script src="@Url.Content("~/Scripts/jquery-migrate-3.0.0.min.js")"></script>*@
    <script src="@Url.Content("~/js/main.js")"></script>
    <noscript>
        @*<img src="@Url.Action("noJavascript","Home")" alt="" style="display:none" />*@
        <link rel="stylesheet" href="@Url.Content("~/frontcss/css/noscript.css")">
    </noscript>

    <!--owl.carousel start-->
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/owl.carousel.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/owl.theme.default.min.css")">
    <script src="@Url.Content("~/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/js/main_owl.js")"></script>
    <!--owl.carousel end-->
    <script src="@Url.Content("~/Scripts/custom.js")"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120661325-6"></script>
    @if (Model.SEOScript != null)
    {
        if (Model.SEOScript.Length > 3) { Model.SEOTitleOrg = Model.SEOScript[3]; }
        else { Model.SEOTitleOrg = Model.SEOTitle; }
        if (string.IsNullOrEmpty(Model.SEOScript[2]) == false)
        {
            Model.SEOTitle = Model.SEOScript[2];
            <title>@Model.SEOScript[2]</title>
        }
        else
        {
            <title>@Model.SEOScript[2]</title>
        }
        if (Model.SEOScript[1] != "")
        {
            @Html.Raw(Model.SEOScript[1])
        }
        if (Model.SEOScript[0] != "")
        {
            <meta name="description" content="@Model.SEOScript[0]" />
        }
    }
    else
    {
        Model.SEOTitleOrg = Model.SEOTitle;
        <title>@Model.SEOTitle</title>
    }
    @if (ViewBag.SEOScript == "")
    {
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-120661325-6');
        </script>
    }
    else
    {
        @Html.Raw(@ViewBag.SEOScript)
    }
</head>
<body>
    <!--header start-->
    <noscript>
        <div class="noscript_font">
            <img src="@Url.Action("noJavascript","Home")" style="display:none;" alt="noJavascriptImg">
            Word-class size SCRIPT, such as your browser does not support, IE6 please use the keyboard hold down the ALT key + V → X → (G) the largest (L) larger (M) in the (S) smaller (A) small, to choose The text size is right for you, or if, for IE7 Firefoxy browser can use the keyboard Ctrl + (+) to enlarge (-) narrowed to change the font size.
            

            @*@Common.GetLangText("NoJavascript")*@
        </div>
    </noscript>
    <!--header start-->
    <header id="header" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": false, "stickyStartAt": 0, "stickySetTop": "0", "stickyChangeLogo": false}'>

        <div class="header-body">

            <!--topmenu start-->
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column">

                        <div class="header-logo">
                            <a href="#main-content" class="sr-only  sr-only-focusable" title="@Common.GetLangText("Go To Main-content")">@Common.GetLangText("Go To Main-content")</a>
                            <h1>
                                <a href="@Url.Action("Index", "Home")" title="@Model.SEOTitleOrg">
                                    <img alt="@Model.SEOTitleOrg" width="130" data-sticky-width="130" data-sticky-top="0" src="@Model.LogoUrl">
                                </a>
                            </h1>
                        </div>
                        <button class="btn header-btn-collapse-nav float_right" data-toggle="collapse" data-target=".header-nav-main" title="menu">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                            <span class="sr-only">menu</span>
                        </button>
                        <button class="btn btn_search sidetitle float-right visible-xs" title="search">
                            <i class="fa fa-search"></i>
                            <span class="sr-only">search</span>
                        </button>
                    </div>
                    <div class="header-column">
                        <div class="header-row hidden-xs">
                            <nav class="header-nav-top">
                                <ul class="nav nav-pills">
                                    <li>
                                        <a href="#;return false;" title="@Common.GetLangText("上方選單區")" accesskey="U" class="accesskey">:::</a>
                                    </li>
                                    @if (Model.TopMenu != "")
                                    {@Html.Raw(Model.TopMenu)}
                                @*@if (Model.LangId == "1")
                                    {
                                        <li><a href='@Url.Action("ChangeLang","Home",new { lang=2})' class='' langid='2' title='EN'>EN</a></li>
                                    }
                                    else
                                    {
                                        <li><a href='@Url.Action("ChangeLang","Home",new { lang=1})' class='' langid='1' title='中文'>中文</a></li>
                                    }*@
                                    <li class="font_size hidden-xs">
                                        <a href="#" class="size_s" id="font_s" onClick="size_set('font_s')" onkeypress="size_set('font_s')" title="S">A-</a>
                                        <a href="#" class="size_m" id="font_m" onClick="size_set('font_m')" onkeypress="size_set('font_m')" title="M">A</a>
                                        <a href="#" class="size_l" id="font_l" onClick="size_set('font_l')" onkeypress="size_set('font_l')" title="L">A+</a>
                                        @*<a href="#" class="size_l" id="font_l" onClick="size_set('font_l')" onkeypress="size_set('font_l')" title="@Common.GetLangText("大字級")">A+</a>*@
                                    </li>
                                    @*<li class="share_icon">
                                            <a href="https://www.facebook.com/%E5%9C%8B%E7%A0%94%E9%99%A2%E5%9C%8B%E7%B6%B2%E4%B8%AD%E5%BF%83-292580541692362/?notify_field=blurb&modal=profile_completion&notif_id=1558930416338465&notif_t=page_profile_blurb" target="_blank" title="facbook(@Common.GetLangText("另開新視窗"))">
                                                <span class="fa-stack fa-xs" aria-hidden="true">
                                                    <i class="fa fa-square fa-stack-2x blue_fb" aria-hidden="true"></i>
                                                    <i class="fab fa-facebook-f fa-stack-1x white" aria-hidden="true"></i>
                                                </span>
                                                <span class="sr-only">facebook</span>
                                            </a>
                                            <a href="https://www.youtube.com/channel/UCWrzkYUM5cwpZExQ4Et5vSw?view_as=subscriber" target="_blank" title="youtube(@Common.GetLangText("另開新視窗"))">
                                                <!--英文 youtube(new window)-->
                                                <span class="fa-stack fa-xs" aria-hidden="true">
                                                    <i class="fa fa-square fa-stack-2x red_youtube" aria-hidden="true"></i>
                                                    <i class="fab fa-youtube fa-stack-1x white" aria-hidden="true"></i>
                                                </span>
                                                <span class="sr-only">YouTube</span>
                                            </a>
                                        </li>*@
                                    <li class="top_search hidden-xs">
                                        <label for="top_serach">
                                            <input type="text" id="top_search" class="form-control" placeholder="Search..." title="Enter keywords">
                                        </label>
                                        <button type="submit" class="search_icon" onClick="location.href='search.html'" onkeypress="location.href='search.html'" title="search"><i class="fa fa-search" aria-hidden="true"></i><span class="sr-only">Search</span></button>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="header-row">
                            <div class="header-nav">
                                @*<div class="header-nav-search header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                                    <nav>
                                        <ul class="nav nav-pills">
                                            <li class="search_box">
                                                <input id="txt_search2" type="text" class="search_input" placeholder="Search...">
                                                <button type="button" class="search_icon" id="btn_search2"><i class="fa fa-search" aria-hidden="true"></i></button><!--無障礙需求：使用onClick, 需同時使用onkeypress-->
                                            </li>
                                        </ul>
                                    </nav>
                                </div>*@

                                <!--search start-->
                                <div class="sidemenu search_box" style="display: none;">
                                    <label for="search_input">
                                        <input type="text" id="search_input" class="form-control" placeholder="Search...">
                                    </label>
                                    <button type="submit" class="search_icon"  onclick="location.href='search.html'"><i class="fa fa-search"></i></button>
                                </div>
                                <!--search end-->

                                <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                                    <nav>
                                        <ul class="nav nav-pills" id="mainNav">
                                            @Html.Raw(Model.MainMenu)
                                        </ul>

                                        <ul class="nav nav-top visible-xs">
                                            @Html.Raw(Model.TopMobileMenu)
                                            @*@if (Model.LangId == "1")
                                                {
                                                    <li><a href='@Url.Action("ChangeLang","Home",new { lang=2})' class='' langid='2' title='EN'><i class="fa fa-language" aria-hidden="true"></i>EN</a></li>
                                                }
                                                else
                                                {
                                                    <li><a href='@Url.Action("ChangeLang","Home",new { lang=1})' class='' langid='1' title='中文'><i class="fa fa-language" aria-hidden="true"></i>中文</a></li>
                                                }*@
                                            <li>
                                                <a href="https://www.facebook.com/%E5%9C%8B%E7%A0%94%E9%99%A2%E5%9C%8B%E7%B6%B2%E4%B8%AD%E5%BF%83-292580541692362/?notify_field=blurb&modal=profile_completion&notif_id=1558930416338465&notif_t=page_profile_blurb" target="_blank" title="facbook(@Common.GetLangText("另開新視窗"))">
                                                    <!--英文 facebook(new window)-->
                                                    <i class="fab fa-facebook-f" aria-hidden="true"></i> facebook
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.youtube.com/channel/UCWrzkYUM5cwpZExQ4Et5vSw?view_as=subscriber" target="_blank" title="youtube(@Common.GetLangText("另開新視窗"))">
                                                    <!--英文 youtube(new window)-->
                                                    <i class="fab fa-youtube" aria-hidden="true"></i> youtube
                                                </a>
                                            </li>
                                        </ul>

                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--topmenu end-->
        </div>
    </header>
    <!--header end-->
    <!--header end-->
    @RenderBody()
    <!--footer start-->
    @*<footer id="footer">
            <div class="container">
                <div class="col-md-4 col-sm-12 col-xs-12">

                    <form action="@Url.Action("Search","Search")" method="post" id="searchform">
                        <ul class="footer_menu">
                            <a href="#;return false;" title="@Common.GetLangText("下選單區")" accesskey="B">:::</a>
                            @Html.Raw(Model.FooterMenu)
                        </ul>
                        <div class="search" data-sr="enter botom over 1.5s">
                            <label for="footer_search">
                                <input type="text" id="footer_search" name="key">
                            </label>
                            <button type="submit" form="searchform" class="search_icon" title="@Common.GetLangText("搜尋")" alt="@Common.GetLangText("搜尋")" id="btn_mainsearch"><i class="fa fa-search" aria-hidden="true"></i><span class="sr-only">@Common.GetLangText("搜尋")</span></button>
                            <div class="hotword" id="hot_keyword">@Common.GetLangText("熱門搜尋")：@Html.Raw(Model.SearchKey)</div>
                            <!--英文Popular search-->
                        </div>
                    </form>
                    <ul class="link">
                        <li data-sr="enter botom over 1.5s">
                            <a href="https://www.facebook.com/%E5%9C%8B%E7%A0%94%E9%99%A2%E5%9C%8B%E7%B6%B2%E4%B8%AD%E5%BF%83-292580541692362/?notify_field=blurb&modal=profile_completion&notif_id=1558930416338465&notif_t=page_profile_blurb" target="_blank" title="facbook(@Common.GetLangText("另開新視窗"))">
                                <!--英文 facebook(new window)-->
                                <span class="fa-stack fa-1g" aria-hidden="true">
                                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse" aria-hidden="true"></i>
                                </span>
                                <span class="sr-only">facebook</span>
                            </a>
                        </li>
                        <li data-sr="enter botom over 1.5s">
                            <a href="https://www.instagram.com/nchc.tw/?hl=zh-tw" target="_blank" title="instagram(@Common.GetLangText("另開新視窗"))">
                                <!--英文 instagram(new window)-->
                                <span class="fa-stack fa-1g" aria-hidden="true">
                                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                                    <i class="fab fa-instagram fa-stack-1x fa-inverse" aria-hidden="true"></i>
                                </span>
                                <span class="sr-only">instagram</span>
                            </a>
                        </li>
                        <li data-sr="enter botom over 1.5s">
                            <a href="https://www.youtube.com/channel/UCWrzkYUM5cwpZExQ4Et5vSw?view_as=subscriber" target="_blank" title="youtube(@Common.GetLangText("另開新視窗"))">
                                <!--英文 youtube(new window)-->
                                <span class="fa-stack fa-1g" aria-hidden="true">
                                    <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                                    <i class="fab fa-youtube fa-stack-1x fa-inverse" aria-hidden="true"></i>
                                </span>
                                <span class="sr-only">YouTube</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="line visible-sm visible-xs"></div>
                @Html.Raw(Model.FooterString)
            </div>
            <div class="copyright">
                <div class="container">
                    @(new HtmlString(Model.PublishContent)); another write style
                    @Html.Raw(Model.PublishContent)
                </div>
            </div>
        </footer>*@


    <div class="footer_menu">
        <div class="container">
            <div><a href="#;return false;" title="Footer area" accesskey="B">:::</a></div>
            <div class="footer_item">
                <!--固定無後台-->
                <div class="footer_title">Find us on</div>
                <ul>
                    <!--<li><a href="#" title=""><i class="fab fa-twitter" aria-hidden="true"></i> Twitter</a></li>-->
                    <li><a href="https://www.instagram.com/forestrybureau/" title="Instagram(new window)" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i> Instagram</a></li>
                    <li><a href="https://www.facebook.com/twforest" title="Facebook(new window)" target="_blank"><i class="fab fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
                    <li><a href="https://www.youtube.com/channel/UC8r9KygvV33JfgSN66wr9OA" title="YouTube(new window)" target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i> YouTube</a></li>
                </ul>
            </div>
            <div class="footer_item">
                <div class="footer_title">Our other sites</div>
                <ul>
                    @Html.Raw(Model.FooterMenu)
                </ul>
            </div>
            @Html.Raw(Model.FooterString)

        </div>
    </div>
    <!--footer start-->
    <footer id="footer">
        <div class="copyright">
            <div class="container">
                @Html.Raw(Model.PublishContent)
            </div>
        </div>
    </footer>
    <!--footer end-->
    <script src="@Url.Content("~/js/bootstrap.js")"></script>
    <script src="@Url.Content("~/js/theme.js")"></script>
    <script src="@Url.Content("~/js/theme.init.js")"></script>

    <!--banner start-->
    <script src="@Url.Content("~/js/jquery.appear.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.themepunch.tools.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.themepunch.revolution.min.js")"></script>
    <!--banner end-->
    <!--滾動效果 start-->
    <script src="@Url.Content("~/js/scrollReveal.js")"></script>
    <!--滾動效果 end-->


</body>
</html>
@RenderSection("scripts_V", required: false)
<script type="text/javascript">
    $(function () {
         $(".scroll-to-top").attr('title','@Common.GetLangText("Go To Top")');

        size_set('@Model.Fontsize');
        $("body").delegate((".newopen"), "click", function () {
            var width = $(this).attr('owidth');
            var height = $(this).attr('oheight');
            var path = $(this).attr('path');
            var constr = [];
            if (width !== undefined) { constr.push("width=" + width); }
            if (height !== undefined) { constr.push("height=" + height); }
            if (constr.length > 0) {
                window.open(path, "", config = constr.join(','));
            } else {
                document.location.href = path;
            }
        });
        $(".size_s,.size_m,.size_l").click(function () { $.post('@Url.Action("SetFontSize","Home")', { size: $(this).attr("id") }, function (data) { }); });

        $('#searchform').submit(function (event) {
            var key = $("#footer_search").val();
              if (key == "") { alert('@Common.GetLangText("請確實輸入搜尋關鍵字")'); return false; }
        });
        var nowlangid = '@Model.LangId';
        if (nowlangid == "1") {
            $(".langchange").attr('langid', "2");
        } else {
            $(".langchange").attr('langid', "1");
        }
       $(".sellang").val('@ViewBag.langid');
       @*$(".langchange").click(function () {
              var lang = $(this).attr('langid');
                $.post('@Url.Action("SetLang","Home")', { lang: lang }, function (data) {
                    document.location.href = '@Url.Action("Index","Home")';
                });
           });*@
           if ('@ViewBag.showmessage' == "Y") {
               showauth();
        }

        $("#mainNav>li>a").click(function () {

            $(this).addClass("active").parent().siblings().children().removeClass("active");

            

        });



    });

</script>
