
@{
    Layout = null;
}
@model CaptchaMvc.Models.DefaultBuildInfoModel
@{
    string id = Guid.NewGuid().ToString("N");
    string functionName = string.Format("______{0}________()", Guid.NewGuid().ToString("N"));
    <script type="text/javascript">

        $(function () {
            $('#@id').show();
            $('#i_voice').show();
    });


    function @functionName {
            $('#@id').hide();
             $.post("@Model.RefreshUrl", { @Model.TokenParameterName: $('#@Model.TokenElementId').val() },
                 function (data) {
                     var d = $('#CaptchaDeText').val();
                     $('#i_voice').prop('href', '@Url.Action("PlayVoice")?token=' + d);
                     $('#@id').show();
                     $('#@Model.InputElementId').focus();
            });
        return false;
    }
    </script>


}
<div>
    @if (Model.IsRequired)
    {
        @Html.TextBox(Model.InputElementId, null, new Dictionary<string, object>
                                                      {
                                                          {"data-val", "true"},
                                                          {"data-val-required", Model.RequiredMessage},
                                                          {"class","form-control input-small float_left" },
                                                          {"placeholder","請輸入驗證碼" }
                                                      })
    }
    else
    {
        <input type="text" 
               @(ViewData["submitBtn"] != null && ViewData["submitBtn"].ToString() =="Captcha"?"autofocus":"")
               id="@Model.InputElementId" 
               name="@Model.InputElementId" 
               class="form-control input-small float_left"
               placeholder = "請輸入驗證碼" />


        @*@Html.TextBox(Model.InputElementId, null, new { @class = "form-control input-small float_left", @placeholder = "請輸入驗證碼" })*@
    }
    
    <span class="verification_code">
        <img id="@Model.ImageElementId" style="width:75px;height:25px" src="@Model.ImageUrl" alt="驗證碼圖片" />
        <a href="#" id="@id" style="display:none" onclick="@functionName" title="重新整理">
            <i class="fa fa-refresh" aria-hidden="true"></i>重新整理
        </a>
        <a href="@Url.Action("PlayVoice","Form")?token=@Model.TokenValue"  target="voice" title="語音播放" id="i_voice">
            <i class="fa fa-volume-up" aria-hidden="true" style="cursor:pointer"></i><span class="sr-only">語音播放</span>
        </a>
    </span>
    @if(ViewData["submitBtn"] != null && ViewData["submitBtn"].ToString() == "Captcha")
    {
        <div class="required">請輸入驗證碼</div>
    }
    @Html.Hidden(Model.TokenElementId, Model.TokenValue)

    @Html.ValidationMessage(Model.InputElementId,new {@class="required" })
</div>