@{ Layout = null;}
@model MessageFrontViewModel
<!DOCTYPE html>
<html lang="Zh-hant" xml:lang="Zh-hant">
<!--英文版<html lang="en" xml:lang="en">-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/forest/img/favicon.ico" type="image/x-icon">
    <title>@Common.GetLangText("TAIWAN FOREST RECREATION")</title><!--英文 -->
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/theme.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/theme-elements.css")/">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/settings.css")" media="screen">

    <!--fontawesome start-->
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/fontawesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/brands.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/solid.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/regular.min.css")">
    <!--fontawesome end-->

    <link rel="stylesheet" href="@Url.Content("~/frontcss/css/style.css")">
    <script src="@Url.Content("~/js/jquery.js")"></script>
    <script src="@Url.Content("~/js/main.js")"></script>
    <script src="@Url.Content("~/js/scrollReveal.js")"></script>
    <noscript>
        <link rel="stylesheet" href="@Url.Content("~/frontcss/css/noscript.css")">
    </noscript>


</head>
<body style="max-width:806px; margin:0 auto; background: url(@Url.Content("~/img/bg_05.jpg"));">
    <div class="trip_info">
        <div class="container">
            <div class="item">
                <div class="img"><img src="@Url.Content("~/img/page_icon_06.png")" alt="day" /></div>
                <div class="font day">
                    <span class="big">@ViewBag.day</span>
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="@Url.Content("~/UploadImage/Destination_Img")@ViewBag.Recommend_Detail_Img" alt="position" /></div><!--六大森林遊樂區page_icon_07~12(內洞、奧萬大、合歡山、大雪山、阿里山、墾丁)，後台可以選擇-->
                <div class="font">
                    @ViewBag.location
                </div>
            </div>
            <div class="item">
                <div class="img"><img src="@Url.Content("~/img/page_icon_05.png")" alt="attractions" /></div>
                <div class="font">
                    @Html.Raw(HttpUtility.HtmlDecode(ViewBag.content))
                </div>
            </div>
        </div>
    </div>
    <div class="trip_line"></div>
    <!--trip_info end-->
    <!--page top start-->
    <div class="page_top">
        <div class="container">
            <div class="col-md-7 col-sm-6 col-xs-12 page_top_left">
                @ViewBag.Title
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">

            </div>
        </div>
    </div>
    <div class="page_con">
        <div class="container">
            <div class="edit_con">
                @Html.Raw(HttpUtility.HtmlDecode(ViewBag.HtmlContent))
            </div>
        </div>
    </div>
</body>
</html>