@model ActiveFrontViewModel
@{
    Layout = WebSiteProject.Code.Common.GetLayout(Model.ShowModel, Model.LangId);
}

<div id="content" class="page_content">
    <div class="container">
        <div class="page_top">
            <a href="#;return false;" title="@Common.GetLangText("主要內容區")" accesskey="@if(Model.LangId == "1"){@("C") }else{ @("C")}" id="main-content">:::</a>
            @Html.Raw(Model.LinkStr)
        </div>
        <div class="title">
            <h2 data-sr="enter left over 1.5s">@Model.Title</h2>
            <!--header start-->
            <div class="page_share" data-sr="enter right over 1.5s">
                @if (Model.LinkUrl != null)
                {
                    <a href="@Common.FixLink(Model.LinkUrl)" target="_blank" title="@Common.GetLangText("相關連結")-@(Model.LinkUrlDesc)(@(Common.GetLangText("另開新視窗")))">
                        <!--英文 link(new window)-->
                        <span class="fa-stack fa-1g" aria-hidden="true">
                            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                            <i class="fas fa-link fa-stack-1x fa-inverse" aria-hidden="true"></i>
                        </span>
                        <span class="sr-only">@Common.GetLangText("相關連結")</span>
                    </a>
                }
                @if (Model.DownloadID != null)
                {
                    <a href="@Url.Action("FileDownLoad")?itemid=@Model.DownloadID" target="_blank" title="@Common.GetLangText("檔案下載")-@(Model.DownloadDesc)(@(Common.GetLangText("另開新視窗")))">
                        <!--英文 download(new window)-->
                        <span class="fa-stack fa-1g" aria-hidden="true">
                            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                            <i class="fas fa-download fa-stack-1x fa-inverse" aria-hidden="true"></i>
                        </span>
                        <span class="sr-only">@Common.GetLangText("檔案下載")</span>
                    </a>
                }
                @if (Model.IsPrint)
                {
                    <a href="@Url.Action("Print",new { mid=Model.MenuID,id=Model.ItemID})" target="_blank" title="@(Common.GetLangText("友善列印"))(@(Common.GetLangText("另開新視窗")))">
                        <!--英文 print(new window)-->
                        <span class="fa-stack fa-1g" aria-hidden="true">
                            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                            <i class="fas fa-print fa-stack-1x fa-inverse" aria-hidden="true"></i>
                        </span>
                        <span class="sr-only">@Common.GetLangText("友善列印")</span>
                    </a>
                }
                @if (Model.IsShare)
                {
                    <a href="http://www.facebook.com/share.php?u=@(HttpUtility.UrlEncode(Request.Url.AbsoluteUri))" target="_blank" class="share" stype="fb" title="facbook@(Common.GetLangText("分享"))(@(Common.GetLangText("另開新視窗")))" id="a_linkfb">
                        <!--英文 facebook share(new window)-->
                        <span class="fa-stack fa-1g" aria-hidden="true">
                            <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
                            <i class="fab fa-facebook-f fa-stack-1x fa-inverse" aria-hidden="true"></i>
                        </span>
                        <span class="sr-only">facbook @Common.GetLangText("分享")</span>
                    </a>
                }
            </div>
        </div>
        <div class="content_con">
            <div class="left">
                <div class="date">
                    @if (string.IsNullOrEmpty(Model.PublicshDate) == false) { @(Common.GetLangText("發佈日期")+"："+Model.PublicshDate) }      @if (@Model.GroupName != "")
                    {<span class="top_class">@Model.GroupName</span>}
                </div>
                <div class="date"> @if (string.IsNullOrEmpty(Model.ActiveRange) == false) {@(Common.GetLangText("活動日期") + "：" + Model.ActiveRange)}   </div>

                @if (string.IsNullOrEmpty(Model.ImageName) == false)
                {
                    <span>
                        <!--圖片置左-->
                        @if (Model.ImageFileLocation == "1")
                        {
                            <img src="@Url.Content("~/UploadImage/ActiveItem/")@Model.ImageName" class="img_padding" alt="" align="left">
                        }
                        else if (Model.ImageFileLocation == "2")
                        {
                            <div align="center"><p class="text_center"><img src="@Url.Content("~/UploadImage/ActiveItem/")@Model.ImageName" class="img_padding" alt=""></p></div>
                        }
                        else if (Model.ImageFileLocation == "3")
                        {
                            <img src="@Url.Content("~/UploadImage/ActiveItem/")@Model.ImageName" class="img_padding" alt="" align="right">
                        }
                    </span>
                }
                @Html.Raw(Model.Content)
                <div class="btn_box">
                    <a href="javascript:history.back()" class="btn_01" title='@Common.GetLangText("回上一頁")'>
                        @Common.GetLangText("回上一頁")
                    </a>
                </div>
            </div>
            <div class="right">
                @Html.Raw(Model.LeftMenu)
            </div>
        </div>

    </div>
    @if (string.IsNullOrEmpty(Model.FBImage) == false) { <img src="@Model.FBImage" id="fbimg" style="display:none" alt="@Model.Title">}
    
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            @*$("#a_linkfb").click(function () {
                var stype = $(this).attr('stype');
              var title = encodeURIComponent('@Model.Title');
                var url = encodeURIComponent('@Request.Url.AbsoluteUri');
                window.open('http://www.facebook.com/share.php?u=' + url + "&title=" + title + "&caption=" + title);
            });*@
        });
    </script>
}