<!--page banner start-->
@{
    Layout = WebSiteProject.Code.Common.GetLayout(Model.ShowModel, Model.LangId);
}
@model FormFrontIndexModel
<script src="@Url.Content("~/Scripts/custom.js")"></script>
<audio id="myspech" src="" type="audio/mpeg"></audio>
<div id="content" class="page_content">
    <div class="container">

        <div class="page_top">
            <a  href="#;return false;" title="@Common.GetLangText("主要內容區")" accesskey="@if(Model.LangId == "1"){@("C") }else{ @("C")}" id="main-content">:::</a>
            @Html.Raw(Model.LinkStr)
        </div>

        <div class="title">
            <h2 data-sr="enter left over 1.5s">@Model.Title</h2>
            <!--header start-->
            <!--header end-->

        </div>
        <div class="content_con">
            <div class="left">
                 <input id="CatchStr" type="hidden" name="CatchStr" value="@Model.CatchStr" />
                @Html.Raw(Model.Desc)
                <div class="form_con">
                    <div class="table form_box" id="table_list">@Html.Raw(Model.Formhtml)</div>
                </div>
                <div class="submit_btn">
                    <input type="button" class="btn_01" id="btn_send" value="@Common.GetLangText("送出")" title="@Common.GetLangText("送出")">
                </div>
            </div>
            <div class="right">
                @Html.Raw(Model.LeftMenu)
            </div>
        </div>

    </div>
</div>
@section scripts {
    <script>
        var modilitem = [];
        var searchbase = {};
        var pageidx = 1;
        var pagesize = 10;
        var maxpagination = 10;
        var catchstr = "@Model.CatchStr";
        $(document).ready(function () {
            $("#table_list").delegate(("#a_captchRefresh"), "click", function () {
                 $.post('@Url.Action("CaptchRefresh")', null, function (data) {
                     catchstr = data[0];
                     $("#image").attr('src', data[1]);
                });
            });
            $("#table_list").delegate(("#i_voice"), "click", function () {
              GetAudio(catchstr);
            });

            $("#btn_send").click(function () {
                $(".error").hide();
                var allitem = $(".formitem");
                var haserr = false;
                var sendobj = {};
                var focusid = "";
                if ($("#img_captch").val() == "") {
                    haserr = true;
                    $("#err_captch").show();
                    focusid = 'img_captch';
                }
                for (var idx = 0; idx < allitem.length;idx++){
                    var type = $(allitem[idx]).attr('type');
                    var index = $(allitem[idx]).attr('index');              
                    var value = '';
                    if (type == 1 || type == 2) {
                        value = $("#item_" + index).val();
                        var title = $("#item_" + index).attr('title');
                        
                        if (title == "@Common.GetLangText("參觀日期")") {
                            var cdate = Date.parse(value);
                            if (isNaN(cdate)) {
                                $("#err2_" + index).text('@Common.GetLangText("請確實輸入日期格式")').show();
                                if (focusid == "") { focusid = $(allitem[idx]).find(':input').attr('id'); }
                                haserr = true;
                            } else {
                                var inputdate = new Date(cdate);
                                if (inputdate.getDay() != 3) {
                                    $("#err2_" + index).text('@Common.GetLangText("參觀日期必須為星期三")').show();
                                    if (focusid == "") { focusid = $(allitem[idx]).find(':input').attr('id'); }
                                    haserr = true;
                                } else {
                                    var date = new Date(Date.now()); 
                                    var checkdate = new Date(date.setMonth(date.getMonth() + 1));
                                    if (inputdate < checkdate) {
                                        $("#err2_" + index).text('@Common.GetLangText("參觀日期必須為一個月後")').show();
                                        if (focusid == "") { focusid = $(allitem[idx]).find(':input').attr('id'); }
                                        haserr = true;
                                    }
                                }
                          
                            }
                        }
                    } else if (type ==5) {
                        value = $("#item_" + index).val();
                    } else if (type ==4) {
                        var clist = $(allitem[idx]).find(':checkbox:checked')
                        var carr = [];
                        for (var cidx = 0; cidx < clist.length; cidx++) {
                            carr.push(clist[cidx].value);
                        }
                        value = carr.join('^');
                    } else if (type ==3) {
                        var value = $(allitem[idx]).find('input[name=item_'+index+']:checked').val();
                    }
                    if ($(allitem[idx]).hasClass('require') && (value=== undefined|| value.trim()=="")) {
                        $("#err_" + index).show();
                        if (focusid == "") { focusid = $(allitem[idx]).find(':input').attr('id'); }
                  
                        haserr = true;
                    }
                    sendobj[index] = value;
                }
                if (haserr) {
                    $("#" + focusid)[0].focus();
                    return false;
                }
           
                if (catchstr != $("#img_captch").val()) { $("#img_captch")[0].focus();  $("#err_captchnomatch").show(); return false; } else { $("#err_captchnomatch").hide();}
                $.post('@Url.Action("SaveForm")', { itemid: '@Model.MainID', jsonstr: JSON.stringify(sendobj) }, function (data) {
                    if (data == "") {
                      var tempopj = {};
                      tempopj.itemid = '@Model.MainID';
                      tempopj.mid = '@Model.MenuID';
                     CreatePost('@Url.Action("ConfirmContent")',tempopj);
                    } else {
                        alert(data);
                    }
                 });
            });
        });

        function GetAudio(catchstr) {
          if (catchstr != "") {
                   var audio = document.getElementById("myspech");
                   audio.src = '@Url.Action("GetAudio")?text=' + catchstr;
                   audio.load();
                   audio.play();
            }
        }
    </script>
}
<!--main content end-->
