@model IEnumerable<WebSiteProject.Models.F_Thingtodo_Type>

@{
    if (TempData["Msg"] != null)
    {
        <script>
            $(function () {
                var Msg = @Html.Raw(Json.Encode(TempData["Msg"]));
                alert(Msg);
            });
        </script>
    }
}

<style>

    hr {
        margin: 0px;
        border-top: 0px solid #eee;
    }

    .Five_Thingtodo_Header {
        background-color: lightgray;
        font-weight: bolder;
    }
</style>

<!--page bar start-->
<div class="page-bar all_width">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            Things to do
            <i class="fa fa-circle"></i>
        </li>
        <li>旅遊資訊設定</li>
    </ul>
</div>
<!--page bar end-->

<div class="title_01">Things To Do主版設定</div>
<div id="Partial_Index_MenuLink">
    <div class="portlet light bordered">
        <!--set item start-->
        <div class="table-toolbar">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <p class="class_title">管理項目</p>
                <div class="display_inline">
                    <select id="Index_Partial_Select" class="form-control checkitem" onchange="window.location.href=this.value">
                        <option data-index="0" value="#">請選擇</option>
                        <option data-index="2" value="@Url.Action("Index", "AD", new { type = "main" , stype = "P", site_id = 4, MenuType=24})">輪播牆設定(電腦版)</option>
                        <option data-index="3" value="@Url.Action("MainTitleAndContent", "F_Thingtodo")" >旅遊資訊主版設定(標題&文字)</option>
                        <option data-index="4" value="@Url.Action("Five_Thingstodo","F_Thingtodo", new { F_MenuType = 24, MenuType=24 })" selected>五大旅遊資訊設定</option>
                        <option data-index="5" value="@Url.Action("ModelItem", "Message",new { mainid = '9' })">旅遊資訊文章設定</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="portlet light bordered" style="padding-bottom:50px">
    <div class="title_04">@(ViewBag.FreeZoneTitleID == 1 ? "自由編輯區一" : "旅遊資訊設定")</div>

    <div class="form-horizontal form-bordered" id="editform" enctype="multipart/form-data">

        <div class="portlet light form-fit bordered">
            <div class="portlet-body form">
                <div class="form-horizontal form-bordered">
                    <div class="form-body" id="form-body">
                        <form method="post" action="@Url.Action("Five_Thingstodo","F_Thingtodo")" class="Five_Thingtodo_Header" id="editform">
                            <div class="form-group ">
                                <div class="col-md-1 col-sm-12 col-xs-12 text-center">
                                    <span class="display_inline">序號</span>
                                </div>
                                <div class="col-md-2 col-sm-12 col-xs-12 text-center ">
                                    <span class="display_inline">標題(上)</span>
                                </div>
                                <div class="col-md-2 col-sm-12 col-xs-12  text-center">
                                    <span class="display_inline">標題(下)</span>
                                </div>
                                <div class="col-md-2 col-sm-12 col-xs-12   text-center">
                                    <span class="display_inline">圖片</span>
                                </div>
                                <div class="col-md-5 col-sm-12 col-xs-12   text-center">
                                    <span class="display_inline">說明</span>
                                </div>
                                @*<div class="col-md-1 col-sm-12 col-xs-12   text-center">
                                        <span class="display_inline">編輯</span>
                                    </div>*@
                            </div>
                            <hr class="Five_Thingtodo_div" />
                            @{
                                var x = 0;
                                foreach (var item in Model)
                                {
                                    <div class="form-group" style="background-color:white">
                                        <input type="hidden" name="F_things[@x].F_Thingtodo_Type_ID" id="F_Thingtodo_Type_ID" value="@item.F_Thingtodo_Type_ID" />
                                        <input type="hidden" name="F_things[@x].F_Thingtodo_Type_Link" id="F_Thingtodo_Type_Link" value="@item.F_Thingtodo_Type_Link" />

                                        <div class="col-md-1 col-sm-12 col-xs-12 text-center">
                                            <span class="display_inline">
                                                <label type="text" name="F_things[@x].F_Thingtodo_Type_ID" id="Destination_Type_ID">@item.F_Thingtodo_Type_ID</label>
                                            </span>
                                        </div>
                                        <div class="col-md-2 col-sm-12 col-xs-12 bg-white mobile_white forest_link text-center ">
                                            <span class="display_inline">
                                                <input type="text" name="F_things[@x].F_Thingtodo_Type_Title1" value="@item.F_Thingtodo_Type_Title1" class="form-control" />
                                            </span>
                                        </div>
                                        <div class="col-md-2 col-sm-12 col-xs-12 bg-white mobile_white forest_link text-center">
                                            <div class="col-md-11 col-sm-12 col-xs-12 bg-white mobile_white forest_link">
                                                <input type="text" name="F_things[@x].F_Thingtodo_Type_Title2" value="@item.F_Thingtodo_Type_Title2" class="form-control" />
                                            </div>
                                        </div>

                                        <div class="col-md-2 col-sm-12 col-xs-12 bg-white mobile_white forest_link text-center align-center">
                                            <img id="Index_Img_File@(x)" src="@Url.Content("~/UploadImage/ThingsToDo_Img/")@item.F_Thingtodo_Type_ImgName" />
                                            <br />
                                            @*<label for="Index_Img_File">
                                                    <input type="button" id="btn" value="傳送檔案"><span id="Img_FileName">@item.Destination_Type_ImgName</span>
                                                    <input data-imgid="Index_Img_File@(x)" name="F_DES[@x].Destination_Type_ImgName" type="file" id="Index_Img_File" accept=".jpeg,.jpg,.gif,.png" style="display:none" />

                                                </label>*@
                                            <input data-imgid="Index_Img_File@(x)" name="Img_File" type="file" accept=".jpeg,.jpg,.gif,.png" />
                                            <label for="Index_Img_File@(x)" style="display:none"></label>
                                            <input id="Img_FileName@(x)" name="F_things[@x].F_Thingtodo_Type_ImgName" class="selected" value="@item.F_Thingtodo_Type_ImgName" style="display:none">

                                        </div>

                                        <div class="col-md-5 col-sm-12 col-xs-12 bg-white mobile_white">
                                            <textarea name="F_things[@x].F_Thingtodo_Type_Description" class="form-control" style="resize:none; height:160px">@item.F_Thingtodo_Type_Description</textarea>
                                        </div>



                                        @*<div class="col-md-1 col-sm-12 col-xs-12 bg-white mobile_white ">
                                                <button class="form-control btn-warning text-center">編輯</button>
                                            </div>*@

                                    </div>
                                    <hr class="Five_Thingtodo_div" />
                                    x = x + 1;
                                }

                            }
                            <div class="col-md-10 col-sm-12 col-xs-12 bg-white mobile_white text-center " id="div_buttons" style="margin:10px;padding:10px">
                                <button type="submit" class="btn blue" id="btn_submit">確認送出</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        @*<div class="text-center search_padding">
                <button type="submit" class="btn blue" id="btn_submit">確認送出</button>
            </div>*@
    </div>

</div>




@section scripts{
    <script>
        $(function () {


            //圖片上傳修改
            ShowImg();

        });

        //送出表單
            $("#editform").submit(function () {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        console.log("success");
                    }
                });

            })

        //圖片上傳修改
        function ShowImg() {

            $("input[type='file']").change(function () {

                var imgid = $(this).attr("data-imgid");
                var reader = new FileReader();
                reader.readAsDataURL(this.files[0]);
                var p = this.files[0].name;
                $(this).parent().children(".selected").val(p);

                reader.onload = function (e) {

                    $(`#${imgid}`).attr("src", e.target.result)

                };

                var file_data = $(this).prop('files')[0];
                var form_data = new FormData();  //建構new FormData()
                form_data.append('Img_File', file_data);

                $.ajax({
                    type: "POST",
                    url: `@Url.Action("Upload","F_Thingtodo")`,
                    data: form_data,
                    async: false,
                    contentType: false,
                    processData:false,
                    success: function (data) {
                        console.log(data);
                    }
                });

            })

        }



    </script>
}
