<!--banner start-->
@{
    Layout = WebSiteProject.Code.Common.GetIndexLayout(Model.LangId);
}

@model HomeViewModel 

<!--banner start-->
<div class="page_banner">
</div>
<!--banner end-->
@{
        var F_Model = (IEnumerable<WebSiteProject.Models.VideoItem>)ViewBag.F_Video;

        foreach (var item in F_Model)
        {
         <!--page_content start-->
        <div class="page_content">

            <!--page top start-->
            <div class="page_top">
                <div class="container">
                    <div class="col-md-7 col-sm-6 col-xs-12 page_top_left">
                        <a href="#;return false;" title="Content area" accesskey="C" id="main-content">:::</a> &nbsp;
                        <a href="@Url.Action("Index","Home")" title="Home"><i class="fas fa-home" aria-hidden="true"></i></a><span class="sr-only">Home</span><i class="fa fa-angle-right" aria-hidden="true"></i>
                        <a href="@Url.Action("F_Video_Index","Home")">Video</a><i class="fa fa-angle-right" aria-hidden="true"></i>
                        @item.Title
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        @{
                            WebSiteProject.Models.F_ViewModels.UnitPrint unit = ViewBag.Unit;
                        }
                        <div class="page_top_right">
                            @{
                                if (unit.isForward)
                                {
                                    <a href="#" @*target="_blank"="*@ onclick="window.open('@Url.Action("Forward","F_Recommendedtrips" ,new {Title=item.Title,Url=Request.Url.ToString() })', 'forward')" title="forward(new windown)"><img src="@Url.Content("~/img/icon_mail.png")" alt="icon_mail.png"></a>
                                }
                                if (unit.isPrint)
                                {
                                    <a href="@Url.Action("Print","Home",new { mid=57,id =item.ItemID})" target="_blank" title="print(new windown)"><img src="@Url.Content("~/img/icon_print.png")" alt="print"></a>
                                }
                                <!--<a href="#" target="_blank" title="link - web name(new window)"><img src="img/icon_link.png" alt=""></a>
            <a href="#" target="_blank" title="download - file name(new window)"><img src="img/icon_download.png" alt=""></a>-->
                                if (unit.isShare)
                                {
                                    <a href="http://www.facebook.com/share.php?u=@(HttpUtility.UrlEncode(Request.Url.AbsoluteUri))" target="_blank" title="facebook share(new window)"><img src="@Url.Content("~/img/icon_facebook.png")" alt=""></a>
                                    <a href="https://twitter.com/share?text=@ViewBag.Title&url=@(HttpUtility.UrlEncode(Request.Url.AbsoluteUri))" target="_blank" title="twitter share(new window)"><img src="@Url.Content("~/img/icon_twitter.png")" alt=""></a>
                                    <a href="http://plurk.com/?qualifier=shares&status=[分享]@(HttpUtility.UrlEncode(Request.Url.AbsoluteUri))(@ViewBag.Titlee&url)" target="_blank" title="plurk share(new window)"><img src="@Url.Content("~/img/icon_plurk.png")" alt=""></a>
                                }
                                if (unit.isRSS)
                                {

                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!--page top end-->
            <!--page_con start-->
            <div class="page_con">
                <div class="container">

                    <h2>@item.Title</h2>

                    <!--youtube start-->
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/@item.VideoLink" frameborder="0" allowfullscreen title=""></iframe>
                    </div>
                    <!--youtube end-->

                    <div class="title_02"><i class="fas fa-video"></i>Video introduction</div>
                    <!--文繞圖 start-->
                    @if (string.IsNullOrEmpty(item.ImageFileOrgName) == false)
                    {
                        <!--圖片置左-->
                            if (item.ImageFileLocation == "1")
                            {
                                <img src="@Url.Content("~/UploadImage/VideoItem/")@item.ImageFileName" class="img_padding" alt="@item.ImageFileDesc" align="left">
                            }
                            else if (item.ImageFileLocation == "2")
                            {
                                <div align="center"><p class="text_center"><img src="@Url.Content("~/UploadImage/VideoItem/")@item.ImageFileName" class="img_padding" alt="@item.ImageFileOrgName"></p></div>
                            }
                            else if (item.ImageFileLocation == "3")
                            {
                                <img src="@Url.Content("~/UploadImage/VideoItem/")@item.ImageFileName" class="img_padding" alt="@item.ImageFileDesc" align="right">
                            }
                        
                    }
                    
                    <!--文繞圖 end-->
                    <!--edit_con start-->
                    <div class="edit_con">
                        @Html.Raw(item.HtmlContent.safeHtmlFragment())
                    </div>
                    <!--edit_con end-->
                    <!--相關連結+檔案下載 start-->
                    <div class="page_bottom">
                        @{
                            if (item.LinkUrl != null && item.LinkUrl != "")
                            {
                                <div class="link">
                                    <div class="title"><i class="fa fa-link" aria-hidden="true"></i>Link</div>
                                    <div class="con_font">
                                        <a href="@item.LinkUrl" target="_blank" title="@item.LinkUrlDesc (new window)">@item.LinkUrlDesc</a>
                                    </div>
                                </div>
                            }

                            if (item.UploadFileName != null && item.UploadFileName != "")
                            {
                                <div class="download">
                                    <div class="title"><i class="fa fa-download" aria-hidden="true"></i>Download</div>
                                    <div class="con_font">
                                        <a href="@Url.Action("FileDownLoad","Videos")?itemid=@item.ItemID.ToString()" target="_blank" title="@item.UploadFileDesc (new window)">@item.UploadFileDesc</a>
                                    </div>
                                </div>
                            }

                        }
                    </div>
                    <!--相關連結+檔案下載 end-->

                    <div class="back_btn">
                        <a href="javascript:history.back()" title="Back"><span class="btn_01">Back</span></a>
                    </div>
                </div>
            </div>
            <!--page_con end-->
            <!--page_content end-->
            <!--breadcrumbs start-->
            <div class="breadcrumbs">
                <div class="container">
                    <div class="title">You are here</div>
                    <div class="font">
                        <a href="@Url.Action("Index","Home")" title="Home">Home</a> / <a href="@Url.Action("F_Video_Index","Home")">Video</a> / @item.Title
                    </div>
                </div>
            </div>
            <!--breadcrumbs end-->
        </div>
    <!--page_content end-->
    }
}
<script>
    $("#mainNav>li:nth-child(5)").children().addClass("active").parent().siblings().children().removeClass("active");
</script>


