<!--banner start-->

@model HomeViewModel
<!--banner start-->

<div class="index_banner">
    <!--設定檔在theme.js 1190行；電腦版和手機版分開-->
    <!--pc start--><!--圖片建議尺寸2600*1000px-->
    <div class="hidden-xs">
        <div class="slider-container rev_slider_wrapper">
            <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 670, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
                <ul>
                    @{
                        var uploadfilepath = System.Configuration.ConfigurationManager.AppSettings["UploadFile"];
                    }
                    @foreach (var ad in Model.ADMain)
                    {
                        string target = ad.Link_Mode == "1" ? "_self" : "_blank";
                        if (string.IsNullOrEmpty(ad.Img_Name_Ori) == false)
                        {
                            <li data-transition="fade">
                                <div class="tp-caption tp-resizeme"
                                     data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"opacity:0;x:100%;y:-100%;","to":"o:1;x:0;y:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                     data-type="image"
                                     data-x="center"
                                     data-y="top"
                                     data-width="['auto']"
                                     data-height="['auto']"
                                     data-basealign="slide">
                                    <img src="@Url.Content("~/UploadImage/ADMain/"+ad.Img_Name_Ori)" alt="@ad.AD_Name">
                                </div>

                                <div class="tp-caption item_box" data-x="0" data-y="500" data-start="500" data-transform_in="y:[100%];opacity:0;s:500;">
                                    <div class="title">@ad.AD_Name</div>
                                    <div class="con_font">@Html.Raw(ad.ADDesc)</div><br />
                                    <div class="btn_box"><a href="@Common.FixLink(ad.Link_Href)" title="@ad.AD_Name @Common.GetLangText("Find out more") @(ad.Link_Mode=="1"?"":"("+Common.GetLangText("New Window")+")")" target="@(ad.Link_Mode=="1"?"":"_black")"><span class="btn_01">@Common.GetLangText("View")<i class="fas fa-arrow-alt-circle-right" aria-hidden="true"></i></span></a></div>
                                </div>                               
                            </li>
                        }
                        else
                        {
                            <li class="slide-overlay" data-transition="fade">
                                <div class="rs-background-video-layer"
                                     data-forcerewind="on"
                                     data-volume="mute"
                                     data-videowidth="100%"
                                     data-videoheight="100%"
                                     data-videomp4="@VirtualPathUtility.ToAbsolute("~"+ad.UploadVideoFilePath)"
                                     data-videopreload="preload"
                                     data-videoloop="loop"
                                     data-forceCover="1"
                                     data-aspectratio="16:9"
                                     data-autoplay="true"
                                     data-autoplayonlyfirsttime="false"
                                     data-nextslideatend="true">
                                </div>

                                <div class="tp-caption item_box" data-x="0" data-y="500" data-start="500" data-transform_in="y:[100%];opacity:0;s:500;">
                                    <div class="title">@ad.AD_Name</div>
                                    <div class="con_font">@Html.Raw(ad.ADDesc)</div><br />
                                    <div class="btn_box">
                                        <a href="@Common.FixLink(ad.Link_Href)" title="@ad.AD_Name @Common.GetLangText("Find out more")@(ad.Link_Mode=="1"?"":"("+Common.GetLangText("New Window")+")")" target="@(ad.Link_Mode=="1"?"":"_black")">
                                            <span class="btn_01">@Common.GetLangText("View")
                                                <i class="fas fa-arrow-alt-circle-right" aria-hidden="true">

                                                </i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <!--pc end-->
    <!--mobile start--><!--圖片建議尺寸1200*2000px-->
    <div class="visible-xs">
        <div class="slider-container rev_slider_wrapper">
            <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 670, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
                <ul>
                    @foreach (var ad in Model.ADMobile)
                    {
                        string target = ad.Link_Mode == "1" ? "_self" : "_blank";
                        if (string.IsNullOrEmpty(ad.Img_Name_Ori) == false)
                        {
                            <li data-transition="fade">
                                <div class="tp-caption tp-resizeme"
                                     data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"opacity:0;x:100%;y:-100%;","to":"o:1;x:0;y:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                     data-type="image"
                                     data-x="center"
                                     data-y="top"
                                     data-width="['auto']"
                                     data-height="['auto']"
                                     data-basealign="slide">
                                    <img src="@Url.Content("~/UploadImage/ADMain/"+ad.Img_Name_Ori)" alt="@ad.AD_Name">
                                </div>
                                <div class="tp-caption item_box" data-x="30" data-y="220" data-start="0" data-transform_in="y:[0%];opacity:0;s:0;">
                                    <div class="title">@ad.AD_Name</div>
                                    <div class="con_font">@Html.Raw(ad.ADDesc)</div><br />
                                    <div class="btn_box"><a href="@Common.FixLink(ad.Link_Href)" title="@ad.AD_Name @Common.GetLangText("Find out more")@(ad.Link_Mode=="1"?"":"("+Common.GetLangText("New Window")+")")" target="@(ad.Link_Mode=="1"?"":"_black")"><span class="btn_01">@Common.GetLangText("View")<i class="fas fa-arrow-alt-circle-right" aria-hidden="true"></i></span></a></div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="slide-overlay" data-transition="fade">
                                <div class="rs-background-video-layer"
                                     data-forcerewind="on"
                                     data-volume="mute"
                                     data-videowidth="100%"
                                     data-videoheight="100%"
                                     data-videomp4="@VirtualPathUtility.ToAbsolute("~"+ad.UploadVideoFilePath)"
                                     data-videopreload="preload"
                                     data-videoloop="loop"
                                     data-forceCover="1"
                                     data-aspectratio="16:9"
                                     data-autoplay="true"
                                     data-autoplayonlyfirsttime="false"
                                     data-nextslideatend="true">
                                </div>

                                <div class="tp-caption item_box" data-x="30" data-y="220" data-start="0" data-transform_in="y:[0%];opacity:0;s:0;">
                                    <div class="title">@ad.AD_Name</div>
                                    <div class="con_font">@Html.Raw(ad.ADDesc)</div><br />
                                    <div class="btn_box"><a href="@Common.FixLink(ad.Link_Href)" title="@ad.AD_Name @Common.GetLangText("Find out more")@(ad.Link_Mode=="1"?"":"("+Common.GetLangText("New Window")+")")" target="@(ad.Link_Mode=="1"?"":"_black")"><span class="btn_01">@Common.GetLangText("View")<i class="fas fa-arrow-alt-circle-right" aria-hidden="true"></i></span></a></div>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <!--mobile end-->
    <noscript>
        <!--僅顯示圖片，影片不置入-->
        <div class="noscrip_banner defaultimg" style="width:100%">
            <img src="@Url.Content("~/img/index_banner_fake.jpg")" alt="banner">
            @foreach (var ad in Model.ADMain)
            {
                if (string.IsNullOrEmpty(ad.Img_Name_Ori) == false)
                {
                    <div><img src="@Url.Content("~/UploadImage/ADMain/"+ad.Img_Name_Ori)" alt="@ad.AD_Name" /></div>
                }
            }
        </div>
    </noscript>

</div>
<!--banner end-->

<!----------------------------------------------------------------------------------->

<!--banner start-->
@*<div class="index_banner">
    <!--設定檔在theme.js 1190行；電腦版和手機版分開-->
    <!--pc start--><!--圖片建議尺寸4000*850px-->
    <div class="slider-container rev_slider_wrapper">
        <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 670, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
            <ul>

                <!--<li data-transition="fade">

                    <div class="tp-caption tp-resizeme"
                         data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"opacity:0;x:100%;y:-100%;","to":"o:1;x:0;y:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-type="image"
                         data-x="center"
                         data-y="top"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-basealign="slide">
                        <img src="img/index_banner_06.jpg" alt="">
                    </div>

                    <div class="tp-caption item_box" data-x="0" data-y="500" data-start="500" data-transform_in="y:[100%];opacity:0;s:500;">
                        <div class="title"> Find your treasure in Taiwan!</div>
                        <div class="con_font">0-3952M To discover these treasures,Is the reason you must visit Taiwan.</div><br />
                        <div class="btn_box"><a href="#" title=""><span class="btn_01">view</a></div>
                    </div>
                </li>

                <li data-transition="fade">

                    <div class="tp-caption tp-resizeme"
                         data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"opacity:0;x:100%;y:-100%;","to":"o:1;x:0;y:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-type="image"
                         data-x="center"
                         data-y="top"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-basealign="slide">
                        <img src="img/index_banner_04.jpg" alt="">
                    </div>

                    <div class="tp-caption item_box" data-x="0" data-y="500" data-start="500" data-transform_in="y:[100%];opacity:0;s:500;">
                        <div class="title"> Find your treasure in Taiwan!</div>
                        <div class="con_font">0-3952M To discover these treasures,Is the reason you must visit Taiwan.</div><br />
                        <div class="btn_box"><a href="#" title=""><span class="btn_01">view</a></div>
                    </div>
                </li>-->

                <li data-transition="fade">

                    <div class="tp-caption tp-resizeme"
                         data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"opacity:0;x:100%;y:-100%;","to":"o:1;x:0;y:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                         data-type="image"
                         data-x="center"
                         data-y="top"
                         data-width="['auto']"
                         data-height="['auto']"
                         data-basealign="slide">
                        <img src="img/index_banner_05.jpg" alt="Find your treasure in Taiwan!">
                    </div>

                    <div class="tp-caption item_box" data-x="0" data-y="500" data-start="500" data-transform_in="y:[100%];opacity:0;s:500;">
                        <div class="title"> Find your treasure in Taiwan!</div>
                        <div class="con_font">0-3952M To discover these treasures,Is the reason you must visit Taiwan.</div><br />
                        <div class="btn_box"><a href="video.html" title=""><span class="btn_01">view</a></div>
                    </div>
                </li>

                <!--<li class="slide-overlay" data-transition="fade">

                    <div class="rs-background-video-layer"
                            data-forcerewind="on"
                            data-volume="mute"
                            data-videowidth="100%"
                            data-videoheight="100%"
                            data-videomp4="video/M_F_MID.mp4"
                            data-videopreload="preload"
                            data-videoloop="loop"
                            data-forceCover="1"
                            data-aspectratio="16:9"
                            data-autoplay="true"
                            data-autoplayonlyfirsttime="false"
                            data-nextslideatend="true">
                    </div>

                    <div class="tp-caption item_box" data-x="400" data-y="500" data-start="500" data-transform_in="y:[100%];opacity:0;s:500;">
                        <div class="title"> Find your treasure in Taiwan!</div>
                        <div class="con_font">0-3952M To discover these treasures,Is the reason you must visit Taiwan.</div><br />
                        <div class="btn_box"><a href="#" title=""><span class="btn_01">view</a></div>
                    </div>
                </li>

                <li data-transition="fade">

                    <div class="tp-caption tp-resizeme"
                            data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"opacity:0;x:100%;y:-100%;","to":"o:1;x:0;y:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                            data-type="image"
                            data-x="center"
                            data-y="top"
                            data-width="['auto']"
                            data-height="['auto']"
                            data-basealign="slide">
                        <img src="img/index_banner_05.jpg" alt="">
                    </div>

                    <div class="tp-caption item_box" data-x="30" data-y="170" data-start="500" data-transform_in="y:[100%];opacity:0;s:500;">
                        <div class="title"> Find your treasure in Taiwan!</div>
                        <div class="con_font">0-3952M To discover these treasures,Is the reason you must visit Taiwan.</div><br />
                        <div class="btn_box"><a href="#" title=""><span class="btn_01">view</a></div>
                    </div>
                </li>-->

            </ul>
        </div>
    </div>
    <!--pc end-->

    <noscript>
        <!--僅顯示圖片，影片不置入-->
        <div class="noscrip_banner defaultimg" style="width:100%">
            <img src="img/index_banner_fake.jpg" alt="" />
            <div><img src="img/index_banner_05.jpg" alt="Find your treasure in Taiwan!" /></div>
            <div><img src="img/index_banner_05.jpg" alt="Find your treasure in Taiwan!" /></div>
        </div>
    </noscript>

</div>*@
<!--banner end-->
<!--index_info start-->
<div class="index_info">
    <div class="container">
        <div class="title">
            <h2 data-sr="enter top over 1.5s">Things to do</h2>
            <!--<ul data-sr="enter top over 1.5s">
                <li><a href="#">See all things to do</a></li>
                <li><a href="#">All destinations</a></li>
                <li><a href="#">Recommended trips</a></li>
            </ul>-->
        </div>
        <!--<ul class="list">
            <li>
                <a href="#">
                    <div class="img"><img src="img/index_pic_01.jpg" /></div>
                    <div class="font_box">
                        <div class="title">View Taiwan’s Forest videos<i class="fas fa-arrow-right"></i></div>
                        <div class="con_font">Good Morning World from Taiwan! You can watch them all here and learn more about our beautiful country.</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="img"><img src="img/index_pic_02.jpg" /></div>
                    <div class="font_box">
                        <div class="title">Top things to do<i class="fas fa-arrow-right"></i></div>
                        <div class="con_font">We've asked visitors and checked in with locals to find the best places and things to do on your Taiwan holiday.</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="img"><img src="img/index_pic_03.jpg" /></div>
                    <div class="font_box">
                        <div class="title">Visas & Immigration<i class="fas fa-arrow-right"></i></div>
                        <div class="con_font">If you’re thinking about visiting to Taiwan, passport and visa organisation is key. Learn how to obtain a visa for Taiwan for a trouble free vacation.</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="img"><img src="img/index_pic_04.jpg" /></div>
                    <div class="font_box">
                        <div class="title">Recommended trips<i class="fas fa-arrow-right"></i></div>
                        <div class="con_font">However long you are visiting Taiwan for, you’ll find trip routes, driving times and distances, and some great ideas to help you plan your itinerary.</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="img"><img src="img/index_pic_05.jpg" /></div>
                    <div class="font_box">
                        <div class="title">Climate and Seasons<i class="fas fa-arrow-right"></i></div>
                        <div class="con_font">Find out more about Taiwan weather patterns and learn more about typical temperatures for seasons. Find out what to wear for each climate.</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="img"><img src="img/index_pic_06.jpg" /></div>
                    <div class="font_box">
                        <div class="title">Travel to Taiwan<i class="fas fa-arrow-right"></i></div>
                        <div class="con_font">Getting to Taiwan is easier than ever. Flights to New Zealand airports are available from many international destinations. Not a flyer? Book a cruise.</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="img"><img src="img/index_pic_07.jpg" /></div>
                    <div class="font_box">
                        <div class="title">Walking & Hiking<i class="fas fa-arrow-right"></i></div>
                        <div class="con_font">Take a walking holiday! Hiking in Taiwan is the best way to immerse yourself in iconic natural beauty. Find great walks and diverse Taiwan trails.</div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="img"><img src="img/index_pic_08.jpg" /></div>
                    <div class="font_box">
                        <div class="title">Special travel offers (Seasonal tours)<i class="fas fa-arrow-right"></i></div>
                        <div class="con_font">Travel and accommodation providers have listed deals, tours and packages that are waiting for you to discover.</div>
                    </div>
                </a>
            </li>
        </ul>-->

    </div>

    <ul class="thing_list">

        @{
            var F_TTDModel = (IEnumerable<WebSiteProject.Models.F_Thingtodo_Type>)ViewBag.F_Thingtodo_Type;
            var n = 1;
            foreach (var item in F_TTDModel)
            {
                <li>
                    <a href="@Url.Action("ThinngsToDo_List", "F_ThingsToDo", new { F_TTD_Id= n++})" title="@item.F_Thingtodo_Type_Title1 @item.F_Thingtodo_Type_Title2">
                        <div class="item_img"><img src="@Url.Content("~/img/600x800.png")" alt="" style="background:url(@Url.Content("~/UploadImage/ThingsToDo_Img/" + item.F_Thingtodo_Type_ImgName))" /></div><!--建議尺寸600*800px-->
                        <div class="item_title">@item.F_Thingtodo_Type_Title1<div class="second_line">@item.F_Thingtodo_Type_Title2</div></div>
                    </a>
                </li>
            }
        }        
       
    </ul>
</div>
<!--index_info end-->
<!--index_ad start-->
<div class="index_ad">
    <div class="container">

        <!--自由編輯區1 start-->
        <div class="title">            
            <h2 data-sr="enter top over 1.5s">@ViewBag.FreeZone1_Title</h2>
            <div class="small_font" data-sr="enter top over 1.5s">@Html.Raw(ViewBag.FreeZone1_Content)</div>
            <ul data-sr="enter top over 1.5s">
                @{
                    var IModel1 = (IEnumerable<WebSiteProject.Models.FreeZoneContent>)ViewBag.FreeZone1_Link;
                    foreach (var item in IModel1)
                    {
                        <li><a href="@item.Link">@item.LinkName</a></li>                       
                    }
                }                
            </ul>                  
        </div>
        <!--自由編輯區1 end-->

        <div class="owl-carousel owl-theme banner_01">
            @{
                var ADmainModel = (IEnumerable<WebSiteProject.Models.ADMain>)ViewBag.ADMain2;
                foreach (var item in ADmainModel)
                {
                    <div class="item">
                        <a href="@item.Link_Href" title="">
                            <img src="@Url.Content("~/UploadImage/ADMain/"+item.Img_Name_Ori)" alt="@item.AD_Name" /><!--建議尺寸1200*450px-->
                            <div class="font">
                                <div class="title">@item.AD_Name</div>
                                <span class="btn_01">more</span>
                            </div>
                        </a>
                    </div>
                }
            }                                
        </div>

        <noscript>
            <!--僅顯示圖片，影片不置入-->
            <div class="defaultimg" style="width:100%">
                <img src="img/index_ad_fake.jpg" alt="" />
                <div><img src="@Url.Content("~/img/index_pic_12.jpg")" alt="" /></div>
                <div><img src="@Url.Content("~/img/index_pic_9.jpg")" alt="" /></div>
                <div><img src="@Url.Content("~/img/index_pic_10.jpg")" alt="" /></div>
            </div>
        </noscript>

    </div>
</div>
<!--index_ad end-->
<!--index_map start-->
<div class="index_map">
    <div class="container">

        <!--自由編輯區2 start-->
        <div class="title">
            <h2 data-sr="enter top over 1.5s">@ViewBag.FreeZone2_Title</h2>
            <div class="small_font" data-sr="enter top over 1.5s">@Html.Raw(ViewBag.FreeZone2_Content)</div>
            <ul data-sr="enter top over 1.5s">
                @{
                    var IModel2 = (IEnumerable<WebSiteProject.Models.FreeZoneContent>)ViewBag.FreeZone2_Link;
                    foreach (var item in IModel2)
                    {
                        <li><a href="@item.Link">@item.LinkName</a></li>               
                    }
                }                
            </ul>
        </div>
        <!--自由編輯區2 end-->

    </div>

    <!--大圖片區 start-->
    <div class="img"><img src="@Url.Content("~/UploadImage/Index_Img/"+ViewBag.BImgName)"/></div>
    <!--大圖片區 end-->
</div>
<!--index_map end-->
<!--index_plan start hiddened-->
<div class="index_plan">
    <div class="container">
        <hr />
        <div class="title">
            <h2 data-sr="enter top over 1.5s">Start planning your Taiwan</h2>
        </div>

        <div class="list">
            <div class="item" data-sr="enter top over 1.5s">
                <div class="icon"><img src="img/icon_01.png" alt="Forest Admission Fee" /></div>
                <div class="title">Forest Admission Fee</div>
                <div class="more"><a href="#">Read more</a></div>
            </div>

            <div class="item" data-sr="enter top over 1.5s">
                <div class="icon"><img src="img/icon_02.png" alt="Forest Maps" /></div>
                <div class="title">Forest Maps</div>
                <div class="more"><a href="#">Read more</a></div>
            </div>

            <div class="item" data-sr="enter top over 1.5s">
                <div class="icon"><img src="img/icon_03.png" alt="Forest Notices" /></div>
                <div class="title">Forest Notices</div>
                <div class="more"><a href="#">Read more</a></div>
            </div>

            <div class="item" data-sr="enter top over 1.5s">
                <div class="icon"><img src="img/icon_04.png" alt="Forest Weather" /></div>
                <div class="title">Forest Weather</div>
                <div class="more"><a href="#">Read more</a></div>
            </div>

            <div class="item" data-sr="enter top over 1.5s">
                <div class="icon"><img src="img/icon_05.png" alt="Forest Traffic" /></div>
                <div class="title">Forest Traffic</div>
                <div class="more"><a href="#">Read more</a></div>
            </div>
        </div>

    </div>
</div>
<!--index_plan end hiddened-->
<!--breadcrumbs start-->
<div class="breadcrumbs">
    <div class="container">
        <div class="title">You are here</div>
        <div class="font"><a href="@Url.Action("Index","Home")" title="Home">Home</a></div>
    </div>
</div>
<!--breadcrumbs end-->









<!----------------------------------------------------------------------------------->

<script>
    window.onload = function () {
        $(".owl-prev").attr("title", "@(Common.GetLangText("Previous"))").attr("tabindex", "0");
        $(".owl-next").attr("title", "@(Common.GetLangText("Next"))").attr("tabindex", "0");
        $(".tp-leftarrow").attr("title", "@(Common.GetLangText("Previous"))");
        $(".tp-rightarrow").attr("title", "@(Common.GetLangText("Next"))");
    }
</script>
<!--index_link end-->