@model IEnumerable<ViewModels.RecommendedSearchModel>
@{
    Layout = null;

}
@{
                var RTModel = (List<WebSiteProject.Models.RecommendedTrips_HashTag>)ViewBag.HashTage;
             
    if (ViewBag.count == 0)
                {
        <div class="text-center va-middle">目前暫無此推薦行程</div>
        }
    else
    {
    <ul>      
           @foreach (var item in Model)
           {
               var HashData = RTModel.Where(p => p.RecommendedTrips_Id == item.RecommendedTrips_ID);
               string [] keyword=HashData.Count() == 0 ? new string[10] : new string[] {
                        HashData.First().RecommendedTrips_keyword0,HashData.First().RecommendedTrips_keyword1,HashData.First().RecommendedTrips_keyword2,HashData.First().RecommendedTrips_keyword3,HashData.First().RecommendedTrips_keyword4
                    ,HashData.First().RecommendedTrips_keyword5,HashData.First().RecommendedTrips_keyword6,HashData.First().RecommendedTrips_keyword7,HashData.First().RecommendedTrips_keyword8,HashData.First().RecommendedTrips_keyword9};
               if(item.RecommendedTrips_Img_Img!="")
               { 
        }
            <li class="bg_print" style="background-image:url(@Url.Content("~/UploadImage/Destination_Img/")@item.RecommendedTrips_Img_Img);" data-sr="enter top over 1.5s">
                <!--森林遊樂區trip_map_01~06(內洞、奧萬大、合歡山、大雪山、阿里山、墾丁)，後台可以選擇-->
                <div class="img" style="background:url(@Url.Content("~/UploadImage/RecommendedTrips/")@item.RecommendedTrips_Img)" title="Title_@item.RecommendedTrips_Img_Description">
                    <!--建議尺寸800*800px，圖片會置頂、置中，多餘部份遮住-->
                    <div class="type">@item.RecommendedTrips_Day_Name</div>
                    <img src="@Url.Content("~/img/800x450.png")" alt="" />
                </div>
                <div class="font">
                    <div class="title"><a href="@Url.Action("recommended_Detail",new {item.RecommendedTrips_ID })" title="Title_@item.RecommendedTrips_Title">@item.RecommendedTrips_Title</a></div>
                    <div class="con">
                        @Html.Raw(HttpUtility.HtmlDecode(item.RecommendedTrips_Index_Content))
                        <div class="link">
                            @for (int i = 0; i < keyword.Count(); i++)
                            {
                                if (keyword[i].IsNullorEmpty()==false)
                                {
                                    <a title="Tag_@keyword[i]">#@keyword[i]</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </li>
            }


    </ul>
  }
}