@model IEnumerable<WebSiteProject.Models.FreeZoneContent>

@{
    ViewBag.Title = "自由編輯區一";
    //Layout = "";
}

@{
    if (TempData["Msg"] != null)
    {
        <script>
            $(function () {
                var Msg = @Html.Raw(Json.Encode(TempData["Msg"]));
                alert(Msg);
            });
        </script>
    }
}


<style>
    .f_textarea {
        resize:none;
    }
    hr{
        margin:0.6px 0px 0px 0px;
        
    }
    .addfreezone {
        margin: 10px;
        
    }
    .addbr{
        color:indianred;
        font-size:90%;
    }

</style>
<div class="page-bar all_width">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>入口首頁配置
            <i class="fa fa-circle"></i>
        </li>
        <li>
            @(ViewBag.FreeZoneTitleID == 1 ? "自由編輯區一" : "自由編輯區二")
        </li>
    </ul>
</div>

        <div class="title_01">入口首頁配置</div>



        <div class="portlet light bordered">
            <div class="table-toolbar">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <p class="class_title">管理項目</p>

                    <div class="display_inline">

                        <select id="Index_FreeZone_Select" class="form-control checkitem" onchange="window.location.href=this.value">
                            <option value="@Url.Action("Index_ADMain","Home", new { home_type = "main", home_stype = "P"})">主視覺輪播圖</option>
                            <option value="@Url.Action("Index_FreeZone","Home",new { id=1 })" @(ViewBag.FreeZoneTitleID == 1 ? "selected" : "")>自由編輯區一</option>
                            <option value="@Url.Action("Index_ADMain2", "Home", new { home_type = "main", home_stype = "P"})">廣告輪播圖</option>
                            <option value="@Url.Action("Index_FreeZone","Home",new { id=2 })" @(ViewBag.FreeZoneTitleID == 2 ? "selected" : "")>自由編輯區二</option>
                        </select>
                    </div>
                </div>
            </div>
            <hr />
            <div class="title_04" style="display:none">@(ViewBag.FreeZoneTitleID == 1 ? "自由編輯區一" : "自由編輯區二")</div>

            <div class="form-horizontal form-bordered" id="editform" enctype="multipart/form-data">

                <form method="post" action="@Url.Action("Index_FreeZoneTitle_Edit","Home")">
                    <div class="title_01">標題</div>
                    <div class="portlet light form-fit bordered">
                        <div class="portlet-body form">
                            <div class="form-horizontal form-bordered">
                                <div class="form-body">
                                    <input name="_FreeZoneID" type="hidden" value="@ViewBag.FreeZoneTitleID" />
                                    <div class="form-group">
                                        <div class="col-md-3 col-sm-12 col-xs-12 search_item text-center">
                                            <span>標題名稱</span>
                                        </div>
                                        <div class="col-md-9 col-sm-12 col-xs-12 bg-white mobile_white ">
                                            <input name="_FreeZoneTitle" type="text" value="@ViewBag.FreeZoneTitle" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3 col-sm-12 col-xs-12 search_item text-center">
                                            <span>內容</span>
                                        </div>
                                        <div class="col-md-9 col-sm-12 col-xs-12 bg-white mobile_white ">
                                            <textarea id="_FreeZoneTitleContent" name="_FreeZoneTitleContent" class="form-control f_textarea">@ViewBag.FreeZoneTitleContent</textarea>
                                            @*<span >
                                                <a id="addbr" class="btn btn blue">加入換行符號</a>
                                            </span>*@
                                            <span class="addbr"> ( 換行符號為 &lt;/br&gt; ) </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-5 col-sm-12 col-xs-12 bg-white mobile_white text-center">

                                        </div>
                                        <div class="col-md-1 col-sm-12 col-xs-12 bg-white mobile_white text-center">
                                            <button name="Btn_FreeZoneTitleEdit" type="submit" class="form-control btn blue text-center" data-id="@ViewBag.FreeZoneTitleID" data-name="@ViewBag.FreeZoneTitle">修改</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <hr />


                <div class="title_01" style="margin-bottom:15px">
                    超連結<button type="button" class="btn green-meadow addmenu addfreezone" index="179" nextlevel="2" style="float:right">新增<i class="fa fa-plus"></i></button>
                </div>



                <div class="portlet light form-fit bordered">

                    <div class="portlet-body form">

                        <div class="form-horizontal form-bordered">
                            <div class="form-body" id="form-body">

                                @foreach (var item in Model)
                                {
                                    <form method="post" action="@Url.Action("Index_FreeZone_Edit","Home")">
                                        <div class="form-group">
                                            <input type="hidden" name="FreeZoneContentID" value="@item.FreeZoneContentID" />
                                            <div class="col-md-3 col-sm-12 col-xs-12 text-center search_item">
                                                <span class="display_inline">超連結名稱 : </span>
                                                <span class="display_inline">
                                                    <input type="text" name="LinkName" value="@item.LinkName" class="form-control" />
                                                </span>
                                            </div>
                                            <div class="col-md-7 col-sm-12 col-xs-12 bg-white mobile_white forest_link text-center">
                                                <div class="col-md-1 col-sm-12 col-xs-12 bg-white mobile_white">
                                                    <span class="display_inline">超連結 : </span>
                                                </div>
                                                <div class="col-md-11 col-sm-12 col-xs-12 bg-white mobile_white forest_link">
                                                    <input type="text" name="Link" value="@item.Link" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-md-1 col-sm-12 col-xs-12 bg-white mobile_white ">

                                                <button class="form-control btn blue text-center">確認</button>
                                            </div>

                                            <div class="col-md-1 col-sm-12 col-xs-12 bg-white mobile_white">
                                                <a href="@Url.Action("Index_FreeZone_Delete","Home",new { id = item.FreeZoneContentID})" class="form-control btn red-mint btn-xs text-center" onclick="return confirm('確定要刪除嗎?')">刪除<i class="glyphicon glyphicon-trash"></i></a>
                                            </div>
                                        </div>
                                        <hr />
                                    </form>


                                }


                            </div>


                        </div>
                    </div>
                </div>


                @*<div class="text-center search_padding">
                    <button type="submit" class="btn blue" id="btn_submit">確認送出</button>
                </div>*@
            </div>

        </div>

        @section scripts{
            <script>
        $(function () {

            //增加新連結
            add();

            //加入換行符號
            addbr();

        });

        //新增超連結
        function add() {
            $(".addfreezone").click(function () {
                $("#form-body").append(
                    `<form method="post" action="@Url.Action("Index_FreeZone_Edit","Home",new { IsCreate=1})">
                            <div class="form-group">
                                <input type="hidden" name="FreeZoneContentID" value=""/>
                                <input type="hidden" name="FreeZoneTitleID" value="@ViewBag.FreeZoneTitleID"/>
                                <div class="col-md-3 col-sm-12 col-xs-12 text-center search_item">
                                    <span class="display_inline">超連結名稱 : </span>
                                    <span class="display_inline">
                                        <input type="text" name="LinkName" value="" class="form-control"/>
                                    </span>
                                </div>
                                <div class="col-md-7 col-sm-12 col-xs-12 bg-white mobile_white forest_link text-center">
                                    <div class="col-md-1 col-sm-12 col-xs-12 bg-white mobile_white">
                                        <span class="display_inline">超連結 : </span>
                                    </div>
                                    <div class="col-md-11 col-sm-12 col-xs-12 bg-white mobile_white forest_link">
                                        <input type="text" name="Link" value="" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-1 col-sm-12 col-xs-12 bg-white mobile_white ">
                                    <button class="form-control btn green-meadow text-center">確認</button>
                                </div>
                                <div class="col-md-1 col-sm-12 col-xs-12 bg-white mobile_white">
                                    <a class="form-control btn red-mint btn-xs text-center" onclick="$(this).closest('form').remove()">刪除<i class="glyphicon glyphicon-trash"></i></a>
                                </div>
                            </div>
                            <hr/>
                       </form>`
                );
            });
        };

        //插入換行符號
        function addbr() {
            $("#addbr").click(function () {
                console.log("</br>");
                str = "</br>";
                insertText( _FreeZoneTitleContent, str)
            });
        };

        //取得當前游標位置
        //obj是textarea的id，str是要加入的字串
        //ex: <textarea id="test"></textarea>; str="<br/>"; insertText(test, str)
        function insertText(obj, str) {
            if (document.selection) {
                var sel = document.selection.createRange();
                sel.text = str;
            } else if (typeof obj.selectionStart === 'number' && typeof obj.selectionEnd === 'number') {
                var startPos = obj.selectionStart,
                    endPos = obj.selectionEnd,
                    cursorPos = startPos,
                    tmpStr = obj.value;
                obj.value = tmpStr.substring(0, startPos) + str + tmpStr.substring(endPos, tmpStr.length);
                cursorPos = str.length;
                obj.selectionStart = obj.selectionEnd = cursorPos;
            } else {
                obj.value = str;
            }
        }



            </script>
        }

