@model ADEditModel
<script src="@Url.Content("~/Scripts/components-date-time-pickers.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap-datepicker.min.js")"></script>

<!--page bar start-->
<div class="page-bar all_width">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index","Home")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>模組元件<i class="fa fa-circle"></i></li>
        <li>@ViewBag.Title</li>
    </ul>
</div>
<!--page bar end-->
<!--message start-->
<div class="title_01">@ViewBag.Title</div>

<div class="portlet light bordered">

    <form class="form-horizontal form-bordered" method="Post" id="editform" action='@Url.Action("Save")' enctype="multipart/form-data">
        @Html.HiddenFor(Model => Model.ID)
        @Html.HiddenFor(Model => Model.Type)
        @Html.HiddenFor(Model => Model.Img_Name_Ori)
        @Html.HiddenFor(Model => Model.Img_Name_Thumb) 
        @Html.HiddenFor(Model => Model.UploadVideoFileName)
        @Html.HiddenFor(Model => Model.UploadVideoFilePath)
        @Html.HiddenFor(Model => Model.SType) 
        <input id="hid_isAdd" type="hidden" name="isAdd" value='@ViewBag.IsAdd' />
        <div class="portlet light form-fit bordered">
            <div class="portlet-body form">
                <div class="form-horizontal form-bordered">
                    <div class="form-body" id="form-body">
                        @if (Model.Site_ID == 15 || Model.Site_ID == 17 ||Model.Site_ID == 14)
                        {
                            @Html.HiddenFor(Model => Model.Site_ID)
                        }
                        else
                        {
                            <div class="form-group">
                                <div class="col-md-2 col-sm-2 col-xs-12 bg-grey_1 search_item">選擇類別</div>
                                <div class="col-md-10 col-sm-10 col-xs-12 bg-white mobile_white">
                                    @Html.DropDownListFor(model => model.Site_ID, (SelectList)ViewBag.SiteList, "請選擇", new { @class = "form-control checkitem" })
                                </div>
                            </div>

                        }
                        <div class="form-group">
                            <div class="col-md-2 col-sm-2 col-xs-12 bg-grey_1 search_item">顯示日期</div>
                            <div class="col-md-10 col-sm-10 col-xs-12 bg-white mobile_white">
                                <div class="input-group input-large" style="float:left">
                                    <div class="date-picker input-daterange" data-date-format="yyyy/mm/dd">
                                        @Html.EditorFor(model => model.StDateStr, new { htmlAttributes = new { @class = "form-control", placeholder = "開始日期" } })
                                    </div>
                                    <span class="input-group-addon"> to </span>
                                    <div class="date-picker input-daterange" data-date-format="yyyy/mm/dd">
                                        @Html.EditorFor(model => model.EdDateStr, new { htmlAttributes = new { @class = "form-control", placeholder = "結束日期" } })
                                    </div>

                                </div>
                                <div class="" style="float:left">
                                    <button type="button" class="btn blue" id="btn_clear">清空</button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2 col-sm-2 col-xs-12 search_item"><span class="red">*</span>廣告名稱</div>
                            <div class="col-md-10 col-sm-10 col-xs-12 bg-white mobile_white">
                                @Html.EditorFor(model => model.AD_Name, new { htmlAttributes = new { @class = "form-control checkitem" } })
                                <span class="required" id="AD_Name-error" style="display:none">廣告名稱必須輸入</span>
                            </div>
                        </div>
                        <div class="form-group" id="F_Description">
                            <div class="col-md-2 col-sm-2 col-xs-12 search_item">廣告描述</div>
                            <div class="col-md-10 col-sm-10 col-xs-12 bg-white mobile_white">
                                <textarea cols="80" id="ADDesc" rows="3" class="form-control" maxlength="500">@Model.ADDesc</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 col-sm-2 col-xs-12 search_item">廣告圖片上傳</div>
                            <div class="col-md-10 col-sm-4 col-xs-12 bg-white mobile_white">

                                <div id="div_oldfile" style="display:none"><a href="@Model.ImageUrl" target="preview">@Model.Img_Show_Name</a><label style="color:blue;margin-left:10px;cursor:pointer" id="delimage">刪除</label></div>
                                <input id="file_image" type="file" name="uploadfile" accept="image/*" />
                                @if (Model.SType == "P")
                                {<span style="color:red;padding-left; font-size:12px">檔案類型jpg、png、gif，建議檔案大小2MB內，建議尺寸4000*850px</span>
                                }
                                else
                                {<span style="color:red;padding-left; font-size:12px">檔案類型jpg、png、gif，建議檔案大小2MB內，建議尺寸1200*2000px</span>}
                            </div>
                        </div>
                        <div class="form-group" id="F_Video">
                            <div class="col-md-2 col-sm-12 search_item">影片上傳</div>
                            <div class="col-md-10 col-sm-12 bg-white mobile_white">
                                <div class="col-md-12">
                                    <div id="div_olduploadfile" style="display:none"><a href="@Url.Action("VideoDownLoad",new { id=Model.ID,type=Model.Type})" target="preview">@Model.UploadVideoFileName</a><label style="color:blue;margin-left:10px;cursor:pointer" id="delupfile">刪除</label></div>
                                    <div id="div_nofile" style="display:inline">
                                        <div class="col-md-10">
                                            <input type="file" id="uploadvideofile" class="display_inline" name="UploadVideoFile" accept="video/*">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 col-sm-2 col-xs-12 search_item">連結路徑</div>
                            <div class="col-md-10 col-sm-4 col-xs-12 bg-white mobile_white">
                                @Html.EditorFor(model => model.Link_Href, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2 col-sm-2 col-xs-12 search_item">開啟方式</div>
                            <div class="col-md-10  col-xs-12 bg-white mobile_white">
                                @Html.RadioButtonFor(model => model.Link_Mode, 1, new { style = "margin-left :0px", @checked = "checked" })原視窗
                                @Html.RadioButtonFor(model => model.Link_Mode, 2, new { style = "margin-left :40px" }) 新視窗
                            </div>
                        </div>
                        @*<div class="form-group">
            <div class="col-md-2 col-sm-2 col-xs-12 search_item">固定顯示</div>
            <div class="col-md-10 col-sm-4 col-xs-12 bg-white mobile_white">
                <label class='mt-checkbox mt-checkbox-single mt-checkbox-outline' style=" margin-bottom:15px">
                    @Html.CheckBoxFor(m => m.Fixed, new { @class = "checkboxes chkstatus" })<span></span>
                </label>
            </div>
        </div>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center search_padding">
            <button type="submit" class="btn blue" id="btn_submit">確認送出</button>
            <button type="button" class="btn grey-mint" id="btn_return">返回列表</button>
        </div>
    </form>

</div>
@section scripts {
    <script>
        $(function () {
            var mentype = @ViewBag.mantype;
            var fileupload = '@Model.UploadVideoFileName';
            if (fileupload !== "") {
                $("#div_olduploadfile").show();
            }
            if ('@Model.ID'>0 && '@Model.Img_Name_Ori'!='') {
                $('#div_oldfile').show();
            }
            $('#delimage').click(function () {
                $('#div_oldfile').hide();
                $('#Img_Name_Ori').val('');
            });

            $('#btn_clear').click(function () {
                $('#StDateStr').val('');
                $('#EdDateStr').val('');
            });
            $('#btn_return').click(function () {
                CreatePost('@Url.Action("Index")', { type: $("#Type").val(), stype:$("#SType").val(), site_id: $("#Site_ID").val(),MenuType: mentype});
            });
            $('#delupfile').click(function () {
                $('#div_olduploadfile').hide();
                $('#UploadVideoFileName').val('');
            });
            $('#editform').submit(function (event) {
                var inputval = $("#form-body :input").filter(function () { return $(this).val() == "" && $(this).hasClass('checkitem'); });
                for (var idx = 0; idx < inputval.length; idx++) {
                    $("#" + inputval[idx].name + "-error").show();
                }
                if (inputval.length > 0) { return false; }
                var file = $("#file_image");
                var _validFileExtensions = [".jpg", ".png", ".gif", ".jpeg"];
                var sFileName = file.val();
                if (sFileName.length > 0) {
                    var blnValid = false;
                    for (var j = 0; j < _validFileExtensions.length; j++) {
                        var sCurExtension = _validFileExtensions[j];
                        if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                            blnValid = true;
                            break;
                        }
                    }
                    if (!blnValid) {
                        alert("只能上傳Image檔案");
                        file.outerHTML = file.outerHTML;
                        return false;
                    }
                }
                var formData = new FormData();
                var array = $('#editform').serializeArray();
                $.each(array, function () {
                    formData.append(this.name, this.value);
                });
                var images = $('#file_image').get(0).files;
                var uploadvideofile = $('#uploadvideofile').get(0).files;

                if (uploadvideofile.length > 0) {
                    formData.append("UploadVideoFile", uploadvideofile[0]);
                } else {
                    formData.append("UploadVideoFile", null);
                }
                if (images.length > 0) {
                    formData.append("ImageFile", images[0]);
                }
                if (images.length == 0 && uploadvideofile.length == 0) {
                    if ($('#Img_Name_Ori').val() == '' && $('#UploadVideoFileName').val() == '') {
                        alert("必須上傳廣告圖片或是影片");
                        return false;
                    }
                }
                formData.append("ADDesc", encodeURIComponent($('#ADDesc').val()));
                $('#btn_submit').attr('disabled', 'disabled');

                $.ajax({
                    url: "@Url.Action("Save")",
                    data: formData,
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        alert(data);
                        CreatePost('@Url.Action("Index")', { type: $("#Type").val(), stype: $("#SType").val(), site_id: $("#Site_ID").val(),MenuType: mentype});
                    }, error: function () {
                        // handle error
                    }
                });
                return false;
            });

            //當選擇到Index2時
            IsIndexImg2()
        });



        function IsIndexImg2() {
            $("#Site_ID").change(function () {
                $("#F_Description").removeClass("hidden");
                $("#F_Video").removeClass("hidden");
                var select_id = $(this).val();
                if (select_id == 2) {
                    $("#F_Description").addClass("hidden");
                    $("#F_Video").addClass("hidden");
                };
            });
        };
    </script>

}

