@model AuthoritySearchModel
<script src="@Url.Content("~/Scripts/datatable.js")"></script>
<script src="@Url.Content("~/Scripts/custom.js")"></script>
<script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>


<!--page bar start-->
<div class="page-bar all_width">
    <ul class="page-breadcrumb">
        @{
            if (ViewBag.MenuType == 176)
            {
                <li>
                    <a href="@Url.Action("Index", "Recommendedtrips")">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
            }
            else if (ViewBag.MenuType == 45)
            {
                <li>
                    <a href="@Url.Action("Index", "Active")">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
            }
            else if (ViewBag.sitid == 17)
            {
                <li>
                    <a href="@Url.Action("Recommendedtrips_item", "Recommendedtrips")">Recommendedtrips_item</a>
                    <i class="fa fa-circle"></i>
                </li>

            }
            else
            {
                <li>
                    <a href="@Url.Action("Index", "Home")">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
            }


            if (ViewBag.MenuType == 179)
            {
                <li>Destinations<i class="fa fa-circle"></i></li>
            }
            else if (ViewBag.MenuType == 24)
            {
                <li>Things to do<i class="fa fa-circle"></i></li>
            }
            else if (ViewBag.MenuType == 176)
            {
                <li>@ViewBag.ReTitle</li>
            }
            else if (ViewBag.MenuType == 45)
            {
                <li>@ViewBag.ReTitle</li>
            }
            else if (ViewBag.sitid == 17)
            {
                <li>
                    @ViewBag.RecommendedTrips_Title
                    <i class="fa fa-circle"></i>
                </li>
                <li>@ViewBag.ReTitle</li>
            }
            else
            {
                <li>@ViewBag.Title</li>
            }
        }


    </ul>
</div>
<!--page bar end-->

@{
    if (ViewBag.MenuType == 24 || (int)Session["F_MenuType"] == 24)
    {
        <div class="title_01">Things to do</div>
        <div id="Partial_Index_MenuLink">
            <!--.......-->
        </div>
    }
    if (ViewBag.MenuType == 0 || (int)Session["F_MenuType"] == 0)
    {
        <div class="title_01">Home</div>
        <div id="Partial_Index">

        </div>
    }
    if (ViewBag.MenuType == 179 || (int)Session["F_MenuType"] == 179)
    {
        <div class="title_01">Destinations</div>
        <div id="Partial_Index_MenuLink">
            <!--.......-->
        </div>
    }
    if (ViewBag.MenuType == 176 || (int)Session["F_MenuType"] == 176)
    {
        <div id="Partial_Index_MenuLink">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <p class="class_title">管理項目</p>
                <div class="display_inline">
                    <div class="display_inline">
                        <select id="Index_Partial_Select" class="form-control checkitem" onchange="window.location.href=this.value">
                            <option data-index="1" value="#" selected>輪播牆設定(電腦版)</option>
                            <option data-index="2" value="@Url.Action("RecommendedtripsIndex", "Recommendedtrips")">推薦行程主版設定(標題&文字)</option>
                            <option data-index="3" value="@Url.Action("Recommendedtrips_item", "Recommendedtrips")">推薦行程設定</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    }
}


@*<div class="title_01">@ViewBag.Title</div>*@
<div class="portlet light bordered">
    <!--set item start-->

    <div class="table-toolbar">
        <div class="col-md-6 col-sm-12 col-xs-12">
            @if (ViewBag.MenuType == 176 || (int)Session["F_MenuType"] == 176 || ViewBag.sitid == 17 || ViewBag.MenuType == 45 || (int)Session["F_MenuType"] == 45)
            {
                @ViewBag.SiteTile;
            }
            else
            {
                <p class="class_title">管理項目</p>
                <div class="display_inline">
                    @Html.DropDownList("ID", (SelectList)ViewBag.SiteList, "請選擇", new { @class = "form-control checkitem" })



                </div>
            }
            @*<p class="display_inline" >
                    <label>前台最多顯示</label>
                    <input id="txt_ShowCount" type="text" class="form-control input-xsmall" style="display:inline" value="@ViewBag.MaxNum"/>
                    <label>則</label>
                    <button class="btn blue" id="btn_changeMaxNum" onclick="changeMaxNum()">確定 </button>
                </p>*@


        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 mobile_left">
            <p class="display_inline">
                <button class="btn green-meadow" id='btn_add'>新增 <i class="fa fa-plus"></i></button>
            </p>
        </div>
    </div>
    <div class="table-scrollable">
        <table class="table table-bordered table-hover" border="0" cellspacing="0" cellpadding="0"
               id="eventtable"
               data-url="@Url.Action("Paging","AD",new { site_id = (TempData["site_id"]?? 1) })"
               data-sort-name='Sort'
               data-page-size='10'
               data-filed-id='ID'
               data-max-pagination='10'>
            <thead>
                <tr class="bg-grey_1" filed-class='odd gradeX'>
                    <th width="80" class="text-center" filed-type='delcheckbox'>
                        <label class='mt-checkbox mt-checkbox-single mt-checkbox-outline'>
                            <input type='checkbox' class='checkboxes' id="chk_all" /><span></span>
                        </label>
                        <button class="btn red-mint btn-xs" id='btn_del'><i class="glyphicon glyphicon-trash"></i></button>
                    </th>
                    <th filed-name='Sort' width="160px" class="text-center" filed-type='numbertextcheck' filed-item-class="sortedit">排序</th>
                    <th filed-name='AD_Name' class="text-center" filed-type='link'>廣告名稱</th>
                    <th filed-name='IsRange' width="80px" class="text-center" filed-item-class='text-center'>是否在顯示區間</th>
                    <th filed-name='Enabled' width="80px" class="text-center" filed-type='checkbox' filed-item-class="checkboxes chkstatus">顯示</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="page_number" class="table-toolbar">
        <div class="col-md-4 col-sm-12 col-xs-12 page_total" id="tableinfo"></div>
        <div class="col-md-8 col-sm-12 col-xs-12 page_icon">
            <div class="btn-group" id="pagination">
            </div>
        </div>
    </div>
    <!--table end-->

</div>

<!--message end-->
@section scripts {
    <script>
        var langtype = '@ViewBag.type'
          var stype='@ViewBag.stype'
          $(document).ready(function () {

              LoadAD();

              AD_SelectChange()

              //重設定Index編號
              ResetOrderIndex();

          });


        function changeMaxNum() {
            var tvalue = $("#txt_ShowCount").val().match(/^[0-9]+$/g);
            if (tvalue == null) {
                alert('最多顯示個數必須為整數！');
                return false;
            }
            $.post('@Url.Action("SetMaxValue")', { maxnum: $("#txt_ShowCount").val(), type: langtype, stype: stype}, function (data) {
                    if (data == "") {
                        alert("儲存成功");
                    } else {
                        alert(data);
                    }
             });
        }


        function LoadAD() {
            mytable = $("#eventtable").myDataTable().TableList[0];
            mytable.settingTdData = myDataTableTr;
            mytable.settingTableInfo = function (tableinfoId, totalcnt, offsetcnt, nowpagecnt) {
                var totalclick = mytable.keepcheckid.length;
                $("#" + tableinfoId).html('總筆數:' + totalcnt + '，顯示' + (totalcnt <= 0 ? 0 : offsetcnt) + "~" + (offsetcnt + nowpagecnt - 1));
            };
            var SearchModelBase = mytable.SearchModelBase;
            SearchModelBase.ADType = '@ViewBag.Type';
            SearchModelBase.SType = stype;
            mytable.GetData(1);
            var obj = {};
            obj.type = langtype;
            obj.stype = stype;
            obj.maintype =@ViewBag.MenuType;
            RegisterOrder("#eventtable", ".sortedit", '@Url.Action("EditADSeq")', obj);
            RegisterClickAll("#chk_all", '#eventtable tbody .chksel', "#selvalue");
            if (@ViewBag.sitid== 15 ||@ViewBag.sitid== 17 || @ViewBag.sitid== 14) {
                obj.siteid = @ViewBag.sitid;
                RegisterClicklink("#eventtable", ".edit", '@Url.Action("ADEdit")', obj);
                 RegisterDelete("#btn_del", '#eventtable .chksel:checked', '@Url.Action("SetADDelete")', obj);
                }
                else {
                RegisterClicklink("#eventtable", ".edit", '@Url.Action("ADEdit")', obj);
                  RegisterDelete("#btn_del", '#eventtable .chksel:checked', '@Url.Action("SetADDelete")', obj);
                }


            RegisterClick("#eventtable", ".chkstatus", '@Url.Action("SetStatus")', obj);
            RegisterClick("#eventtable", ".chkfixed", '@Url.Action("SetFixed")', obj);
            $("#btn_add").click(function () {
                if (@ViewBag.sitid== 15 ||@ViewBag.sitid== 17|| @ViewBag.sitid== 14) {
                    obj.siteid = @ViewBag.sitid;
                    obj.maintype=@ViewBag.MenuType;
                    CreatePost('@Url.Action("ADEdit")', obj);
                }
                else {
                     CreatePost('@Url.Action("ADEdit")', obj);
                }

            });


        }


        function AD_SelectChange() {
            $("#ID").change(function () {
                var AD_id = $(this).val();
                window.location.href = `@Url.Action("Index","AD")/?type=main&stype=${'@ViewBag.stype'}&site_id=${AD_id}`;
            });
        };

        //重設定OrderIndex_________start
        var time;
        function ResetOrderIndex() {
            console.log('ResetOrderIndex');
            var Indexes = $(".editinput");
            console.log(Indexes);
            var i = 1;
            if ($(".editinput").length > 0) {

                clearInterval(time); //清除Interval

                $.each(Indexes, function (idx, data) {
                    //console.log(idx + ',' + $(data).val());

                    $(data).val(i++)
                });
            }
        };
        time = setInterval(ResetOrderIndex, 50); //每0.05秒重新設定Index
        //重設定OrderIndex_________end







    </script>
}
