@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model HomeViewModel

<!--header start-->
@*<script>$.include("blocks/header.html");</script>*@
<!--header end-->

@{
    var DesModel = (IEnumerable<WebSiteProject.Models.F_Destination_Type>)ViewBag.F_Destination_Type;
    var BanTitle = DesModel.First().Destination_Type_Title1 + " " + DesModel.First().Destination_Type_Title2;
    var FareModel = (IEnumerable<WebSiteProject.Models.Destination_Fare>)ViewBag.Destination_Fare;
}
<!--banner start-->
<div class="page_banner">
    <!--設定檔在theme.js 1190行；電腦版和手機版分開-->
    <!--pc start--><!--圖片建議尺寸4000*850px-->
    <div class="slider-container rev_slider_wrapper">
        <div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 670, 'disableProgressBar': 'on', 'responsiveLevels': [4096,1200,992,500], 'parallax': { 'type': 'scroll', 'origo': 'enterpoint', 'speed': 1000, 'levels': [2,3,4,5,6,7,8,9,12,50], 'disable_onmobile': 'on' }, 'navigation' : {'arrows': { 'enable': true }, 'bullets': {'enable': true, 'style': 'bullets-style-1', 'h_align': 'center', 'v_align': 'bottom', 'space': 7, 'v_offset': 70, 'h_offset': 0}}}">
            <ul>
                @{
                    var ADmodel = (IEnumerable<WebSiteProject.Models.ADDestination>)ViewBag.ADDestinations;
                    foreach (var ad in ADmodel)
                    {
                        

                            if (ad.UploadVideoFileName != "")
                            {
                                <li class="slide-overlay" data-transition="fade">
                                    <div class="rs-background-video-layer"
                                         data-forcerewind="on"
                                         data-volume="mute"
                                         data-videowidth="100%"
                                         data-videoheight="100%"
                                         data-videomp4="@Url.Content("~/UploadImage/Destination_AD/" + ad.UploadVideoFileName)"
                                         data-videopreload="preload"
                                         data-videoloop="loop"
                                         data-forceCover="1"
                                         data-aspectratio="16:9"
                                         data-autoplay="true"
                                         data-autoplayonlyfirsttime="false"
                                         data-nextslideatend="true">
                                    </div>

                                    <div class="tp-caption item_box" data-x="0" data-y="500" data-start="500" data-transform_in="y:[100%];opacity:0;s:500;">
                                        <div class="title">@ad.AD_Name</div>
                                        <div class="con_font">@Html.Raw(ad.ADDesc)</div><br />
                                        <div class="btn_box">
                                            <a href="@Common.FixLink(ad.Link_Href)" title="@ad.AD_Name @Common.GetLangText("Find out more")@(ad.Link_Mode=="1"?"":"("+Common.GetLangText("New Window")+")")" target="@(ad.Link_Mode=="1"?"":"_black")">
                                                <span class="btn_01">@Common.GetLangText("View")
                                                    <i class="fas fa-arrow-alt-circle-right" aria-hidden="true">

                                                    </i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </li>

                            }
                            else 
                            {
                                <li data-transition="fade">
                                    <div class="tp-caption tp-resizeme"
                                         data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"opacity:0;x:100%;y:-100%;","to":"o:1;x:0;y:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
                                         data-type="image"
                                         data-x="center"
                                         data-y="top"
                                         data-width="['auto']"
                                         data-height="['auto']"
                                         data-basealign="slide">
                                        <img src="@Url.Content("~/UploadImage/Destination_AD/" + ad.Img_Name_Ori)" alt="@ad.Img_Name_Ori">

                                    </div>
                                </li>
                            }




                    }
                } 

                  

            </ul>
        </div>
    </div>
    <!--pc end-->

    <noscript>
        <!--僅顯示圖片，影片不置入-->
        <div class="noscrip_banner defaultimg" style="width:100%">
            <img src="img/index_banner_fake.jpg" alt="" />
            <div><img src="img/index_banner_05.jpg" alt="" /></div>
            <div><img src="img/index_banner_05.jpg" alt="" /></div>
        </div>
    </noscript>

    <div class="banner_title">
        <h2>@BanTitle</h2>
    </div>

</div>
<!--banner end-->
<!--page_info start-->
<div class="page_info">
    <div class="container">
        <div class="con_font">
            @DesModel.First().Destination_Type_Description
        </div>
    </div>
</div>
<!--page_info end-->
<!--page_bookmark start-->
<div class="page_bookmark">
    <div class="container" id="bookmark">

        <ul class="bookmark_item">
            <li><a href="javascript:void(0);" name="page_01" id="page_01" title="" class="active">Location</a></li>
            <li><a href="javascript:void(0);" name="page_02" id="page_02" title="">Featured points</a></li>
            <li><a href="javascript:void(0);" name="page_03" id="page_03" title="">Season</a></li>
            <li><a href="javascript:void(0);" name="page_04" id="page_04" title="">Charges</a></li>
        </ul>
        <div id="bookmark_item_detail">
            <div class="locaton">
                <ul>
                    <li data-sr="enter bottom over 1.5s">
                        <div class="img"><img src="@Url.Content("~/img/page_icon_01.jpg")" alt="" /></div>
                        <div class="font">
                            <div class="title">Location</div>
                            <div class="con_font">@DesModel.First().Destination_Type_Location</div>
                        </div>
                    </li>
                    <li data-sr="enter bottom over 1.5s">
                        <div class="img"><img src="@Url.Content("~/img/page_icon_02.jpg")" alt="" /></div>
                        <div class="font">
                            <div class="title">Service hours</div>
                            <div class="con_font">@DesModel.First().Destination_Type_ServiceHours</div>
                        </div>
                    </li>
                    <li data-sr="enter bottom over 1.5s">
                        <div class="img"><img src="@Url.Content("~/img/page_icon_03.jpg")" alt="" /></div>
                        <div class="font">
                            <div class="title">Area</div>
                            <div class="con_font">@DesModel.First().Destination_Type_Area &nbsp; hectares</div>
                        </div>
                    </li>
                    <li data-sr="enter bottom over 1.5s">
                        <div class="img"><img src="@Url.Content("~/img/page_icon_04.jpg")" alt="" /></div>
                        <div class="font">
                            <div class="title">Altitude</div>
                            <div class="con_font">@DesModel.First().Destination_Type_Altitude &nbsp; meters</div>
                        </div>
                    </li>




                </ul>

            </div>
        </div>
    </div>
</div>
<!--page_bookmark end-->
<!--page_content start-->
<div class="page_content">

    <!--page top start-->
    <div class="page_top">
        <div class="container">
            <div class="col-md-7 col-sm-6 col-xs-12 page_top_left">
                <a href="#;return false;" title="Content area" accesskey="C" id="main-content">:::</a> &nbsp;
                <a href="@Url.Action("Index","Home")" title="Home"><i class="fas fa-home" aria-hidden="true"></i></a><span class="sr-only">Home</span><i class="fa fa-angle-right" aria-hidden="true"></i>
                <a href="@Url.Action("Index","Destination_Index",new {langid = 1 })">Destinations</a><i class="fa fa-angle-right" aria-hidden="true"></i>
                @BanTitle
            </div>
            <div class="col-md-5 col-sm-6 col-xs-12">
                <!--<script>$.include("blocks/page_top.html");</script>-->
            </div>
        </div>
    </div>
    <!--page top end-->
    <!--article_list start-->
    <div class="article_list">
        <div class="container">

            <ul class="list">

                @{
                    var MessageItems = (IEnumerable<WebSiteProject.Models.MessageItem>)ViewBag.MessageItems;
                    var Message10Hash =(IEnumerable<WebSiteProject.Models.Message10Hash>)ViewBag.Message10Hash;
                    var Category = ViewBag.Category;
                    var n = 1;
                    foreach (var item in MessageItems)
                    {
                        <li data-sr="enter bottom over 1.5s">
                            <div class="img imh_opacity">
                                <a href="@Url.Action("Article","Destination_Index",new {langid = 1,Category = BanTitle,Aid = item.ItemID, })" title="@item.Title">
                                    <img src="@Url.Content("~/img/")@item.RelateImageFileOrgName" alt="item.Title" />
                                </a>
                            </div>
                            <div class="font_box">
                                <div class="title">
                                    <a href="@Url.Action("Article","Destination_Index",new {langid = 1,Category = BanTitle,ImgTitle = item.Title })" title="@item.Title">@item.Title</a>
                                </div>
                                <!--Hastag-->
                                <div class="link" id="HashTag">

                                    <a href="@Url.Action("Details","Destinations",new {HashTag= @Message10Hash.Where(MH => MH.MessageItem_ID == item.ItemID).First().Message10Hash_1H})" title="">@Message10Hash.Where(MH => MH.MessageItem_ID == item.ItemID).First().Message10Hash_1H &nbsp;</a>
                                    <a href="." title="">@Message10Hash.Where(MH => MH.MessageItem_ID == item.ItemID).First().Message10Hash_2H &nbsp;</a>
                                    <a href="." title="">@Message10Hash.Where(MH => MH.MessageItem_ID == item.ItemID).First().Message10Hash_3H &nbsp;</a>
                                    <a href="." title="">@Message10Hash.Where(MH => MH.MessageItem_ID == item.ItemID).First().Message10Hash_4H &nbsp;</a>
                                    <a href="." title="">@Message10Hash.Where(MH => MH.MessageItem_ID == item.ItemID).First().Message10Hash_5H &nbsp;</a>
                                    <a href="." title="">@Message10Hash.Where(MH => MH.MessageItem_ID == item.ItemID).First().Message10Hash_6H &nbsp;</a>
                                    <a href="." title="">@Message10Hash.Where(MH => MH.MessageItem_ID == item.ItemID).First().Message10Hash_7H &nbsp;</a>
                                    <a href="." title="">@Message10Hash.Where(MH => MH.MessageItem_ID == item.ItemID).First().Message10Hash_8H &nbsp;</a>
                                    <a href="." title="">@Message10Hash.Where(MH => MH.MessageItem_ID == item.ItemID).First().Message10Hash_9H &nbsp;</a>
                                    <a href="." title="">@Message10Hash.Where(MH => MH.MessageItem_ID == item.ItemID).First().Message10Hash_10H </a>

                                </div>
                            </div>
                        </li>
                    }
                }
                @*<li data-sr="enter bottom over 1.5s">
                        <div class="img imh_opacity"><a href="#" title=""><img src="img/d_pic_11.jpg" alt="" /></a></div>
                        <div class="font_box">
                            <div class="title"><a href="#" title="">The Liechtenstein Trail: Walking the length of a country in a weekend</a></div>
                            <div class="link"><a href="#" title="">#Walking & Hiking</a> &nbsp; <a href="#" title="">#Clamping</a> </div>
                        </div>
                    </li>
                    <li data-sr="enter bottom over 1.5s">
                        <div class="img imh_opacity"><a href="#" title=""><img src="img/d_pic_12.jpg" alt="" /></a></div>
                        <div class="font_box">
                            <div class="title"><a href="#" title="">10 of world’s most eco-friendly golf courses</a></div>
                            <div class="link"><a href="#" title="">#Walking & Hiking</a> &nbsp; <a href="#" title="">#Clamping</a> </div>
                        </div>
                    </li>
                    <li data-sr="enter bottom over 1.5s">
                        <div class="img imh_opacity"><a href="#" title=""><img src="img/d_pic_13.jpg" alt="" /></a></div>
                        <div class="font_box">
                            <div class="title"><a href="#" title="">Somewhere special to stay: 7 gorgeous new boutique hotels around the world</a></div>
                            <div class="link"><a href="#" title="">#Walking & Hiking</a> &nbsp; <a href="#" title="">#Clamping</a> </div>
                        </div>
                    </li>
                    <li data-sr="enter bottom over 1.5s">
                        <div class="img imh_opacity"><a href="#" title=""><img src="img/d_pic_14.jpg" alt="" /></a></div>
                        <div class="font_box">
                            <div class="title"><a href="#" title="">Ski Guide: Samoens, France</a></div>
                            <div class="link"><a href="#" title="">#Walking & Hiking</a> &nbsp; <a href="#" title="">#Clamping</a> </div>
                        </div>
                    </li>
                    <li data-sr="enter bottom over 1.5s">
                        <div class="img imh_opacity"><a href="#" title=""><img src="img/d_pic_15.jpg" alt="" /></a></div>
                        <div class="font_box">
                            <div class="title"><a href="#" title="">Walking the Rota Vicentina along Portugal’s Atlantic Coast</a></div>
                            <div class="link"><a href="#" title="">#Walking & Hiking</a> &nbsp; <a href="#" title="">#Clamping</a> </div>
                        </div>
                    </li>

                    <li data-sr="enter bottom over 1.5s">
                        <div class="img imh_opacity"><a href="#" title=""><img src="img/d_pic_16.jpg" alt="" /></a></div>
                        <div class="font_box">
                            <div class="title"><a href="#" title="">TExploring Norway’s South Coast</a></div>
                            <div class="link"><a href="#" title="">#Walking & Hiking</a> &nbsp; <a href="#" title="">#Clamping</a> </div>
                        </div>
                    </li>*@

            </ul>
        </div>
    </div>
    <!--article_list end-->
    <!--detail_map start-->
    <div class="detail_map">
        <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q=@DesModel.First().Destination_Type_MapName&z=16&output=embed&t="></iframe>
    </div>
    <!--detail_map end-->
</div>
<!--page_content end-->
<!--breadcrumbs start-->
<div class="breadcrumbs">
    <div class="container">
        <div class="title">You are here</div>
        <div class="font"><a href="@Url.Action("Index","Home")" title="Home">Home</a> / <a href="@Url.Action("Index","Destination_Index",new {langid = 1 })" title="Destinations">Destinations</a> / @BanTitle</div>
    </div>
</div>
<!--breadcrumbs end-->
<!--footer start-->
@*<script>$.include("blocks/footer.html");</script>*@
<!--footer end-->



<script>
    $(function () {
        $("#mainNav>li>a").first().addClass("active").parent().siblings().children().removeClass("active");

        

        //點擊maplegend換圖
        $(".bookmark_item>li>a").click(function () {

            $(this).addClass("active").parent().siblings().children().removeClass("active");

            var BookID = $(this).attr("id");

            switch(BookID)
            {
                case "page_01":
                    $("#bookmark_item_detail").empty();
                    document.getElementById("bookmark_item_detail").innerHTML = `<div class="locaton"><ul>
                <li data-sr="enter bottom over 1.5s">
                    <div class="img"><img src=\"@Url.Content("~/img/page_icon_01.jpg")\" alt="" /></div>
                    <div class="font">
                        <div class="title">Location</div>
                        <div class="con_font">@DesModel.First().Destination_Type_Location</div>
                    </div>
                </li>
                <li data-sr="enter bottom over 1.5s">
                    <div class="img"><img src="@Url.Content("~/img/page_icon_02.jpg")" alt="" /></div>
                    <div class="font">
                        <div class="title">Service hours</div>
                        <div class="con_font">@DesModel.First().Destination_Type_ServiceHours</div>
                    </div>
                </li>
                <li data-sr="enter bottom over 1.5s">
                    <div class="img"><img src="@Url.Content("~/img/page_icon_03.jpg")" alt="" /></div>
                    <div class="font">
                        <div class="title">Area</div>
                        <div class="con_font">@DesModel.First().Destination_Type_Area hectares</div>
                    </div>
                </li>
                <li data-sr="enter bottom over 1.5s">
                    <div class="img"><img src="@Url.Content("~/img/page_icon_04.jpg")" alt="" /></div>
                    <div class="font">
                        <div class="title">Altitude</div>
                        <div class="con_font">@DesModel.First().Destination_Type_Altitude</div>
                    </div>
                </li>
            </ul></div>`
                    break;
                case "page_02":
                    $("#bookmark_item_detail").empty();

                    document.getElementById("bookmark_item_detail").innerHTML = `<div class="featured">
                    <div class="img"><img src="@Url.Content("~/img/page_icon_05.png")" /></div>
                    <ul>
                        @if (@DesModel.First().FPI != null)
                        {
                            <li data-sr="enter bottom over 1.5s">@DesModel.First().FPI</li>
                        }
                        @if (@DesModel.First().FPII != null)
                        {
                            <li data-sr="enter bottom over 1.5s">@DesModel.First().FPII</li>
                        }
                        @if (@DesModel.First().FPIII != null)
                        {
                            <li data-sr="enter bottom over 1.5s">@DesModel.First().FPIII</li>
                        }
                        @if (@DesModel.First().FPIV != null)
                        {
                            <li data-sr="enter bottom over 1.5s">@DesModel.First().FPIV</li>
                        }
                        @if (@DesModel.First().FPV != null)
                        {
                            <li data-sr="enter bottom over 1.5s">@DesModel.First().FPV</li>
                        }
                        @if (@DesModel.First().FPVI != null)
                        {
                            <li data-sr="enter bottom over 1.5s">@DesModel.First().FPVI</li>
                        }
                        @if (@DesModel.First().FPVII != null)
                        {
                            <li data-sr="enter bottom over 1.5s">@DesModel.First().FPVII</li>
                        }
                        @if (@DesModel.First().FPVIII != null)
                        {
                            <li data-sr="enter bottom over 1.5s">@DesModel.First().FPVIII</li>
                        }
                        @if (@DesModel.First().FPIX != null)
                        {
                            <li data-sr="enter bottom over 1.5s">@DesModel.First().FPIX</li>
                        }
                        @if (@DesModel.First().FPX != null)
                        {
                            <li data-sr="enter bottom over 1.5s">@DesModel.First().FPX</li>
                        }
                     </ul>
                    </div>`
                    break;
                case "page_03":
                    $("#bookmark_item_detail").empty();
                    document.getElementById("bookmark_item_detail").innerHTML = `<div class="season">
                        <ul>
                            <li data-sr="enter bottom over 1.5s">
                                <div class="circular-bar">
                                    <div class="circular-bar-chart" data-percent="@DesModel.First().Temp_Spring">
                                        <strong>SPRING</strong>
                                        <label>@DesModel.First().Temp_Spring°C</label>
                                    </div>
                                </div>

                            </li>
                            <li data-sr="enter bottom over 1.5s">
                                <div class="circular-bar">
                                    <div class="circular-bar-chart" data-percent="@DesModel.First().Temp_Summer">
                                        <strong>SUMMER</strong>
                                        <label>@DesModel.First().Temp_Summer°C</label>
                                    </div>
                                </div>
                            </li>
                            <li data-sr="enter bottom over 1.5s">
                                <div class="circular-bar">
                                    <div class="circular-bar-chart" data-percent="@DesModel.First().Temp_Autumn">
                                        <strong>AUTUMN</strong>
                                        <label>@DesModel.First().Temp_Autumn°C</label>
                                    </div>
                                </div>
                            </li>
                            <li data-sr="enter bottom over 1.5s">
                                <div class="circular-bar">
                                    <div class="circular-bar-chart" data-percent="@DesModel.First().Temp_Winter">
                                        <strong>WINTER</strong>
                                        <label>@DesModel.First().Temp_Winter°C</label>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>`;
                    $('.circular-bar-chart').easyPieChart({
                        barColor: "#d0ad7b",
                        trackColor: "#e7d6bd",
                        scaleColor: false,
                        lineWidth: 15,
                        trackWidth: 15,
                        lineCap: "round",
                        size: 140,
                    });
                    break;
                case "page_04":
                    console.log(BookID);
                    $("#bookmark_item_detail").empty();

                    document.getElementById("bookmark_item_detail").innerHTML = `<div class="charges" data-sr="enter bottom over 1.5s">
                        <table class="table" summary="charges list, The first column is Ticket type, the second column is fare (NT $: yuan), and the third column is Description ">
                            <thead>
                                <tr>
                                    <th scope="col">Ticket type</th>
                                    <th scope="col">Fare (NT$: yuan)</th>
                                    <th scope="col">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in FareModel)
                                {
                                    <tr>
                                        <td>
                                        @if (item.TicketType != null)
                                        {
                                            @item.TicketType
                                        }
                                        </td>
                                        <td>$
                                        @if (item.Fare != null)
                                        {
                                            @item.Fare
                                        }
                                        </td>
                                        <td>
                                        @if (item.Description != null)
                                        {
                                            @item.Description
                                        }
                                        </td>

                                    </tr>
                                }



                            </tbody>
                        </table>
                    </div>`
                    break;

            }



        })
        

    })
    

</script>
<!--ProgressBar start-->
<script src="@Url.Content("~/js/jquery.easypiechart.min.js")"></script>
<script type="text/javascript">
    // ProgressBar
    $(function () {

    });

</script>
<!--ProgressBar end-->
