<!--page banner start-->
<script src="@Url.Content("~/Scripts/datatable.js")"></script>
<script src="@Url.Content("~/Scripts/custom.js")"></script>
<!--page banner end-->
<!--主要內容區 start-->
@{ 
    var smodel = (StudentEdit)ViewBag.studentmodel;

}
<div class="main_content">
    <div class="container">
        <div class="main_content_box">

            <!--left menu start-->
            <!--left menu start-->
            <div class="left_content">
                <div class="left_title">@Common.GetLangText("學員專區")</div>
            </div>
            <!--left menu end-->
            <!--right content start-->
            <div class="right_content">

                <!--page top start-->
                <div class="page_top">
                    <div class="col-md-7 col-sm-6 col-xs-12 page_top_left">
                        <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i>@Common.GetLangText("首頁")</a><i class="fa fa-angle-right"></i>@Common.GetLangText("學員專區")<i class="fa fa-angle-right"></i>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                    </div>
                </div>
                <!--page top end-->
                <!--page content start-->
                <div class="page_content">
                    <h2 class="page_title">@Common.GetLangText("忘記密碼")</h2>

                    <!--form list start-->
                    <div class="form_con">
                        <div class="table form_box">

                            <div class="table-row">
                                <div class="form_q">*@Common.GetLangText("Email")</div>
                                <div class="form_a">
                                    <input class="form-control checkitem float_left" type="text" value="" id="txt_EMail" name="EMail" />
                                    <span class="required" id="EMail-error" style="display:none;">Email @Common.GetLangText("必須填寫")！</span>
                                    <span class="required" id="EMailFormat-error" style="display:none;">@Common.GetLangText("EMail格式錯誤")！</span>
                                </div>
                            </div>

                            <div class="table-row">
                                <div class="form_q">*@Common.GetLangText("驗證碼")</div>
                                <div class="form_a">
                                    <input type="text" id="txt_Code" class="form-control_1 checkitem" placeholder="@Common.GetLangText("請輸入驗證碼")" name="Code"><span class="verification_code">
                                        <img src="@ViewBag.image" alt="@Common.GetLangText("驗證碼")" id="img_captch"><a href="#" id="a_captchRefresh" style="margin-left:5px"><i class="fa fa-refresh"></i>@Common.GetLangText("重新整理")</a>
                                    </span>
                                    <span class="required" id="Code-error" style="display:none;">@Common.GetLangText("驗證碼") @Common.GetLangText("必須填寫")！</span>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--form list end-->

                    <div class="submit_btn">
                        <input type="button" class="btn_01" id="btn_confirm" value="@Common.GetLangText("確定送出")">
                        <input type="button" class="btn_01" onclick="location.href='@Url.Action("Index","Home")'" value="@Common.GetLangText("取消")" style="opacity:0.6">
                    </div>

                </div>
                <!--page content end-->

            </div>
            <!--right content end-->
        </div>
    </div>
</div>

<!--主要內容區 end-->
@section scripts {
    <script>
        $(document).ready(function () {
               $("#a_captchRefresh").click(function () {
                $.post('@Url.Action("CaptchRefresh")', null, function (data) {
                    catchstr = data[0];
                    $("#img_captch").attr('src', data[1]);
                  });
                  return false
            });
            var catchstr = '@ViewBag.catchstr';
            $("#btn_confirm").click(function () {
                iscon = true;
                $(".required").hide();
                if (validateEmail($("#txt_EMail").val()) == false) {
                    $("#EMailFormat-error").show();
                    iscon = false;
                }
                if (iscon == false) { return false; }
                if (catchstr != $("#txt_Code").val()) { alert('@Common.GetLangText("請輸入")@Common.GetLangText("驗證碼")'); return false; }
                var obj = {}; obj.email = $("#txt_EMail").val();
                $.post('@Url.Action("GetForgetPassword")', obj, function (data) {
                    alert(data);
                        document.location.href ='@Url.Action("Index", "Home")';
                });
            });
        });
        //判斷email格式
        function validateEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }
    </script>
}