@model  MenuEditModel
<script src="@Url.Content("~/Scripts/custom.js")"></script>
<!--page bar start-->
<div class="page-bar all_width">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            @(string.IsNullOrEmpty(Model.DisplayName) ? Model.MenuName : Model.DisplayName)
            <i class="fa fa-circle"></i>
        </li>
        <li>連結路徑</li>
    </ul>
</div>
<!--page bar end-->
<!--message start-->
<div class="title_01">@(string.IsNullOrEmpty(Model.DisplayName)? Model.MenuName : Model.DisplayName)</div>

<div id="Partial_Index_MenuLink">
    <!--.......-->
</div>


<div id="F_TTD_Index" class="portlet light bordered hidden" >
    <form class="form-horizontal form-bordered" method="Post" id="editform" action='@Url.Action("SaveMenuLinkEdit")'>
        @Html.HiddenFor(Model => Model.ID)
        <div class="portlet light form-fit bordered" id="div_seo">
            <div class="portlet-body form">
                <div class="form-horizontal form-bordered">
                    <div class="form-body" id="form-body">
                        <div class="form-group">
                            <div class="col-md-2 col-sm-12 col-xs-12 bg-grey_1 search_item"><span class="red">*</span>連結路徑</div>
                            <div class="col-md-10 col-sm-12 col-xs-12 bg-white mobile_white">
                                @Html.EditorFor(model => model.LinkUrl, new { htmlAttributes = new { @class = "form-control" } })
                                <span class="required" id="MenuName-error" style="display:none;">連結路徑 必須填寫！</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center search_padding">
            <button type="submit" class="btn blue" id="btn_submit">確認送出</button>
        </div>
    </form>
    @section scripts {
        <script>
        $(function () {
            
            
            $('#editform').submit(function (event) {
               $(".required").hide();
               var inputval = $("#editform :input").filter(function () { return $(this).val() == "" && $(this).hasClass('checkitem'); });
                for (var idx = 0; idx < inputval.length; idx++) {
                    $("#" + inputval[idx].name + "-error").show();
                }
                if (inputval.length > 0) { return false; }
                var formData = new FormData();

                formData.append("linkurl", $("#LinkUrl").val());
                formData.append("menuid", @Model.ID);
                debugger
                $.ajax({
                    url: this.action,
                    data: formData,
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        alert(data);
                    }, error: function () {
                        // handle error
                    }
                });
                return false;
            });            
         });

            
        </script>

    }

</div>