<!--page top start-->
<script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>
<script src="@Url.Content("~/Scripts/custom.js")"></script>
<div class="page_top page_margin">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12" data-sr="enter left over 1.5s">
            <ul>
                <li><a href="@Url.Action("Index","Home")">HOME</a></li>
                <li><a href="@Url.Action("LoginForm","Home")">系統登入</a></li>
                <li><a href="#">題庫系統</a></li>
            </ul>
        </div>
        <!--<div class="col-md-3 col-sm-4 col-xs-12" data-sr="enter right over 1.5s">
            <script>$.include("blocks/page_top_right.html");</script>
        </div>-->
    </div>
</div>
<!--page top end-->
<!--main content start-->
<div id="particles-js" style="position:absolute; z-index:-1"></div>
<div class="page_content">
    <div class="container">

        <div class="top_back" data-sr="enter right over 2.5s"><a href="@Url.Action("StudentSystem")"><button class="btn_01">回上一層</button></a></div>
        <div class="page_title top_back_padding" data-sr="enter left over 1.5s">@ViewBag.chaptername </div>

        <div class="page_con">

            <!--page content start-->
            <div class="con_font">
                本次要練習的題目數量<input type="text" class="form-control  display-inline-block input_xsmall" id="txt_enum">
                <a href="#" class="doexercise"><button class="btn_01">下一步</button></a>
            </div>

            <br><br>

            <div class="con_title">
                <div class="title">概念說明</div>
                @Html.Raw(ViewBag.ChapterConcept)
            </div>
            <!--page content end-->

        </div>

    </div>
</div>
<!--main content end-->

@section scripts {
    <script>
        $(document).ready(function () {
            $('.doexercise').click(function (event) {
                var exnum=$('#txt_enum').val();
                if (exnum == "") { bootbox.alert("練習題目數量請確實輸入"); return false; }
                var tvalue = $("#txt_enum").val().match(/^[0-9]+$/g);
                if (tvalue == null) {
                    bootbox.alert("最多顯示個數必須為整數");
                    return false;
                }
                if (tvalue <= 0 || tvalue >10) {
                    bootbox.alert("練習數量不得為0或是超過10");
                    return false;
                }
                CreatePost('@Url.Action("Exercise")', { chapterid: '@ViewBag.chapterid',gradeid: '@ViewBag.gradeid',classid:'@ViewBag.classid' , exericenum:exnum});
             })

            });
    </script>
}