<!--page banner start-->
@{
    Layout = WebSiteProject.Code.Common.GetLayout(Model.ShowModel);
}
<script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>
<script src="@Url.Content("~/Scripts/custom.js")"></script>

<!--page top start-->
<div class="page_top page_margin">
    <div class="container">
        <div class="col-md-12 col-sm-12 col-xs-12" data-sr="enter left over 1.5s">
            <ul>
                <li><a href="@Url.Action("Index","Home")">HOME</a></li>
                <li><a href="#">密碼修改</a></li>
            </ul>
        </div>
        <!--<div class="col-md-3 col-sm-4 col-xs-12" data-sr="enter right over 1.5s">
            <script>$.include("blocks/page_top_right.html");</script>
        </div>-->
    </div>
</div>
<!--page top end-->
<!--main content start-->
<div id="particles-js" style="position:absolute; z-index:-1"></div>
<div class="page_content">
    <div class="container">
        <div class="page_title" data-sr="enter left over 1.5s">密碼修改</div>
        <div class="page_con">
            <div id="editform">
                <div class="form_con password_list">
                    <div class="table form_box">
                        <div class="table-row">
                            <div class="form_q">*原密碼</div>
                            <div class="form_a">
                                <input type="password" class="form-control" id="txt_Password" name="Password">
                                <span class="required" id="Password-error" style="display:none;">原密碼 必須填寫！</span>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="form_q">*新密碼</div>
                            <div class="form_a">
                                <input type="password" class="form-control" id="txt_NewPassword" name="NewPassword">
                                <div class="remark">(6碼以上、大小寫英文字母+數字)</div>
                                <span class="required" id="NewPassword-error" style="display:none;">新密碼 必須填寫！</span>
                            </div>
                        </div>
                        <div class="table-row">
                            <div class="form_q">*新密碼確認</div>
                            <div class="form_a">
                                <input type="password" class="form-control" id="txt_ConfirmPassword" name="ConfirmPassword">
                                <div class="remark">(請再輸入一次新密碼)</div>
                                <span class="required" id="ConfirmPassword-error" style="display:none;">新密碼確認 必須填寫！</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="submit_btn" data-sr="enter bottom over 1.5s">
                    <input type="button" class="btn_01" id="btn_submit" value="修改">
                </div>
            </div>
        </div>
    </div>
</div>
<!--main content end-->
@section scripts {
    @*<script src="@Url.Content("~/Scripts/particles.js")"></script>
    <script src="@Url.Content("~/Scripts/stats.js")"></script>
    <script>
        particlesJS("particles-js", { "particles": { "number": { "value": 91, "density": { "enable": true, "value_area": 1523.2414578222467 } }, "color": { "value": "#ecb025" }, "shape": { "type": "circle", "stroke": { "width": 0, "color": "#000000" }, "polygon": { "nb_sides": 5 }, "image": { "src": "img/github.svg", "width": 100, "height": 100 } }, "opacity": { "value": 0.49705773886831206, "random": false, "anim": { "enable": false, "speed": 1, "opacity_min": 0.1, "sync": false } }, "size": { "value": 2, "random": false, "anim": { "enable": false, "speed": 300, "size_min": 0, "sync": false } }, "line_linked": { "enable": true, "distance": 150, "color": "#ecb025", "opacity": 0.4, "width": 1 }, "move": { "enable": true, "speed": 6, "direction": "none", "random": false, "straight": false, "out_mode": "out", "bounce": false, "attract": { "enable": false, "rotateX": 600, "rotateY": 1200 } } }, "interactivity": { "detect_on": "canvas", "events": { "onhover": { "enable": true, "mode": "repulse" }, "onclick": { "enable": true, "mode": "push" }, "resize": true }, "modes": { "grab": { "distance": 400, "line_linked": { "opacity": 1 } }, "bubble": { "distance": 400, "size": 40, "duration": 2, "opacity": 8, "speed": 3 }, "repulse": { "distance": 200, "duration": 0.4 }, "push": { "particles_nb": 4 }, "remove": { "particles_nb": 2 } } }, "retina_detect": true });
        var count_particles, stats, update; stats = new Stats; stats.setMode(0); stats.domElement.style.position = 'absolute'; stats.domElement.style.left = '0px'; stats.domElement.style.top = '0px'; document.body.appendChild(stats.domElement);
        count_particles = document.querySelector('.js-count-particles'); update = function () {
            stats.begin(); stats.end(); if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) {
                if (count_particles != null) { count_particles.innerText = window.pJSDom[0].pJS.particles.array.length; }
            } requestAnimationFrame(update);
        }; requestAnimationFrame(update);;
    </script>*@
    <script>
        $(document).ready(function () {
            $('#btn_submit').click(function (event) {
                $(".required").hide();
                var inputval = $("#editform :input").filter(function () { return $(this).val() == "" && $(this).attr('name') !== undefined; });
                for (var idx = 0; idx < inputval.length; idx++) {
                    $("#" + inputval[idx].name + "-error").show();
                }
                if (inputval.length > 0) { return false; }
                var tvalue = $("#txt_NewPassword").val().match(/(?=.*\d)(?=.*[a-zA-Z]).{6,}/g);
                if (tvalue == null) {
                    iscon = false;
                    bootbox.alert('新密碼必須為6碼以上、大小寫英文字母+數字');
                    return false;
                }

                $.ajax({
                    url: '@Url.Action("SavePasswordEdit")',
                    type: 'Post',
                    data: { Password: $("#txt_Password").val(), NewPassword: $("#txt_NewPassword").val(), ConfirmPassword: $("#txt_ConfirmPassword").val()},
                    success: function (result) {
                        if (result == "") {
                            bootbox.alert('更新成功');
                             CreatePost('@Url.Action("PasswordOk")', null);
                        } else {
                            bootbox.alert(result);
                        }
                    }
                });
                return false;
            })

        });
    </script>
}