@model WebSiteEditModel
<script src="@Url.Content("~/Scripts/datatable.js")"></script>
<script src="@Url.Content("~/Scripts/custom.js")"></script>
<script src="@Url.Content("~/Scripts/components-date-time-pickers.min.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap-datepicker.min.js")"></script>
<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>
<!--page bar start-->
<!--page bar start-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index","Home")">Home</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index","Model")">模組管理</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="@Url.Action("Index","WebSiteMap")">網站導覽</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a href="#">編輯</a>
            <i class="fa fa-circle"></i>
        </li>
    </ul>

</div>
<!--page bar end-->
<!--message start-->
<div class="title_01">@Model.ModelName</div>

<div class="portlet light bordered">

    <!--management item start-->
    <div class="table-toolbar">
        <div class="col-md-12 col-sm-12 col-xs-12 mobile_left">
            <button class="btn grey-mint" onclick="location.href='@Url.Action("Index","WebSiteMap")'">回上一頁</button>
        </div>
    </div>
    <!--management item end-->
    <form class="form-horizontal form-bordered" method="Post" id="editform" action='@Url.Action("SaveInfo")'>
        <div class="portlet light form-fit bordered">
            <div class="portlet-body form">
                <div class="form-horizontal form-bordered">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="col-md-2 col-sm-12 search_item">內容</div>
                            <div class="col-md-10 col-sm-12 bg-white mobile_white">
                                <div class="col-md-12 col-sm-12 col-xs-12 bg-white mobile_white">
                                    <textarea cols="80" id="HtmlContent" rows="20">@Model.HtmlContent</textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-2 col-sm-12 search_item">快速鍵說明</div>
                            <div class="col-md-10 col-sm-12 bg-white mobile_white language_set">

                                <div class="display_inline margin_bottom">
                                    <button class="btn green-meadow" id="btn_add" type="button">新增 <i class="fa fa-plus"></i></button>
                                    <button class="btn red" id="btn_del" type="button">刪除 <i class="glyphicon glyphicon-trash"></i></button>
                                </div>

                                <!--table start-->
                                <table class="table table-bordered nomarginbottom" border="0" cellspacing="0" cellpadding="0" id="table_selContent">
                                    <thead>
                                        <tr>
                                            <th width="60" class="text-center" filed-type="delcheckbox">刪除</th>
                                            <th width="120" class="text-center">排序</th>
                                            <th class="text-center">區塊名稱</th>
                                            <th class="text-center">快速鍵</th>
                                            <th class="text-center">介紹</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            if (Model.AreaName != null)
                                            {
                                                var idx = 0;
                                                foreach (var sel in Model.AreaName)
                                                {
                                                    <tr id="tr_@idx" class="selitem" seqidx="@(idx+1)">
                                                        <td class="text-center">
                                                            <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                                                <input type="checkbox" class="checkboxes">
                                                                <span name="check_@idx"></span>
                                                            </label>
                                                        </td>
                                                        <td class="text-center delete_th">
                                                            <button type="button" class="btn btn-default btn-xs seq_list" value="0"><i class="fa fa-angle-double-up"></i></button>
                                                            <button type="button" class="btn btn-default btn-xs seq_list" value="-1"><i class="fa fa-angle-up"></i></button>
                                                            <button type="button" class="btn btn-default btn-xs seq_list" value="+1"><i class="fa fa-angle-down"></i></button>
                                                            <button type="button" class="btn btn-default btn-xs seq_list" value="max"><i class="fa fa-angle-double-down"></i></button>
                                                        </td>
                                                        <td><input type="text" class="form-control areaname" value="@Model.AreaName[idx]" maxlength="50"></td>
                                                        <td><input type="text" class="form-control hotkey" value="@Model.HotKey[idx]" maxlength="50"></td>
                                                        <td><input type="text" class="form-control intro" value="@Model.Intro[idx]" maxlength="100"></td>
                                                    </tr>
                                                    idx += 1;
                                                }
                                            }
                                        }

                                    </tbody>
                                </table>
                                <!--table end-->

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="text-center search_padding">
            <button type="submit" class="btn blue">確定</button>
        </div>
    </form>
</div>
<!--message end-->
<!--message end-->
@section scripts {
    <script>
        $(document).ready(function () {
             var ckedit = CKEDITOR.replace('HtmlContent', {
                height: 300,
               filebrowserImageUploadUrl: '@Url.Action("Upload")?command=QuickUpload&type=Images',
               filebrowserUploadUrl: '@Url.Action("UploadFile")?command=QuickUpload&type=Files',
            });

            $('#btn_add').click(function () {
                var selitems = $(".selitem").length;
                if (selitems < 20) {
                    $.post('@Url.Action("AddSelItem")', { "index": selitems }, function (data) {
                        $(data).appendTo("#table_selContent tbody");
                    });
                } else {
                    alert('超過最上設定上限(20組)');
                }

            });
            $("#btn_del").click(function () {
                var checked = $("#table_selContent :checked");
                for (var idx = 0; idx < checked.length; idx++) {
                    $(checked[idx]).parents('tr').remove();
                }
                var voteitems = $(".selitem");
                for (var idx = 0; idx < voteitems.length; idx++) {
                    var seqtext = $(voteitems[idx]).find(".seq_list");
                    $(seqtext).val((idx + 1));
                }
            });
            RegisterClickAll("#chk_all", '#table_selContent tbody .checkboxes', "#selvalue");
            $("#table_selContent").delegate((".seq_list"), "click", function () {
                var alltr = $("#table_selContent tbody tr");
                var nowtridx = $(this).parents('tr').attr('seqidx');
                var sval = $(this).val();
                var newtridx = 0;

                if (sval == "+1") {
                    newtridx = parseInt(nowtridx) + 1;
                } else if (sval == "-1") {
                    newtridx = parseInt(nowtridx) - 1;
                } else if (sval == "max") {
                    newtridx = alltr.length;
                }
                if (newtridx == "0") { newtridx = "1"; }
                if (newtridx == "" || newtridx == nowtridx) {return false;}
                if (newtridx > alltr.length) { newtridx = alltr.length; }
                if (nowtridx == newtridx.toString()) {return false;}
                var nowidxhtml = $(this).parents('tr')[0];
                var addarr = [];
                for (var idx = 1; idx <= alltr.length; idx++) {
                    var nowtr = alltr[idx - 1];
                    if (idx.toString() != nowtridx) {
                        if ((newtridx > nowtridx)) {
                            addarr.push($(nowtr));
                            if (idx == newtridx) {addarr.push($(nowidxhtml));}
                        } else {
                            if (idx == newtridx) {addarr.push($(nowidxhtml));}
                            addarr.push($(nowtr));
                        }
                    }
                }
                $("#table_selContent tbody").empty();
                for (var idx = 0; idx < addarr.length; idx++) {
                    $(addarr[idx]).attr("id", "tr_" + idx).attr('seqidx', (idx + 1));
                    $("#table_selContent tbody").append(addarr[idx]);
                }
            });

           $('#editform').submit(function (event) {
                var value = $('input[name=ItemMode]:checked').val();
                var formData = new FormData();
               var seltext = $('.selitem');
               var arr = [];
               for (var idx = 0; idx < seltext.length; idx++) {
                   var areaname = $(seltext[idx]).find('.areaname').val();
                   var hotkey = $(seltext[idx]).find('.hotkey').val();
                   var intro = $(seltext[idx]).find('.intro').val();
                   if (areaname == "" || hotkey == "" || intro == "") {
                       alert('快速鍵說明第' + (idx + 1) + "組請確實輸入");
                       return false;
                   }
                   formData.append("HotKey[" + idx + "]", hotkey);
                   formData.append("Intro[" + idx + "]", intro);
                   formData.append("AreaName[" + idx + "]", areaname);
               }
               formData.append("HtmlContent", encodeURIComponent(CKEDITOR.instances.HtmlContent.getData()));
               formData.append("MainID",'@Model.MainID');
                $.ajax({
                    url: this.action,
                    data: formData,
                    type: 'POST',
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        alert(data);
                    }, error: function () {
                        // handle error
                    }
                });
                return false;
            });
        });
    </script>
}
